@font-face { font-family: 'fontello'; src: url(fontello/font/fontello.eot); src: url(fontello/font/fontello.eot?#iefix) format("embedded-opentype"), url(fontello/font/fontello.woff) format("woff"), url(fontello/font/fontello.ttf) format("truetype"), url(fontello/font/fontello.svg#fontello) format("svg"); font-weight: 400; font-style: normal; }

.social-media-login-border-left { width: 42%; float: left; margin-top: 10px; margin-bottom: 0px;     border-top: 1px solid #d8d8d8;}

.social-media-login-border-right { width: 42%; float: right; margin-top: 10px; margin-bottom: 0px;     border-top: 1px solid #d8d8d8;}

#logo img { width: 200px; }

#cart_box h3, .box_style_2 h2.inner { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; }

a, a:focus, a:hover { text-decoration: none; }

.login-with-social-icons { color: #fff;margin: 20px 0 0 0;}

.chromeframe, header { position:fixed; top: 0; width: 100%; left: 0; }

#sub_content #thumb, .thumb_strip { box-sizing: border-box; overflow: hidden; }

#count ul, #rating_summary ul, .desc ul, .filter_type ul, .main-menu-2 ul, footer ul, ul#cat_nav, ul.opening_list { list-style: none; }

#hero_video > div, #sub_content, .parallax-content-2 > div, .strip_list .go_to div, .table.cart-list td { vertical-align: middle; }

.slide_typo_2, h3.slide_typo, s.checkbox-holder { white-space: nowrap; }

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot, .marker_info:after { pointer-events: none; }

.chromeframe { background: #ddd; color: #000; padding: .2em; text-align: center; z-index: 9999; }

.chromeframe a { color: #ed1c24; }

html * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { font-size: 13px; line-height: 1.4; color: #555; background-color: #f5f5f5; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.high_light h3, h1, h2, h3.slide_typo { font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, label { color: #231F20; }

h3.slide_typo { letter-spacing: -2px; font-size: 60px; color: #fff !important; font-weight: 300; }

.box_style_2 h2.inner, h3 .slide_typo strong { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h3 .slide_typo strong { font-weight: 400; }

.slide_typo_2 { color: #fff; font-size: 18px; }

.box_style_2 h2.inner { background-color: #e81e2a; color: #F5F0E3; margin: -25px -25px 25px; padding: 12px 15px; font-size: 22px; font-weight: 400; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }

.main_title { text-align: center; margin-bottom: 45px; }

.main_title h2 { font-size: 46px; letter-spacing: -1px; font-weight: 300; margin-bottom: 0; }

.main_title p { font-size: 18px; color: #555; line-height: 1.2; margin-bottom: 30px; font-weight: 300; }

.feature h3 span, a { color: #553712; }

.feature h3 { margin-top: 0; }

a { -webkit-transition: all .2s ease; transition: all .2s ease; outline: 0; }

a:focus, a:hover { color: #e81e2a; outline: 0; }

.btn_1, .btn_full, a.btn_1, a.btn_full { font-family: inherit; color: #F5F0E3; cursor: pointer; outline: 0; font-size: 12px; -webkit-transition: all .3s; -moz-transition: all .3s; text-transform: uppercase; text-align: center; }

#subheader a:hover, .modal-popup a:hover { text-decoration: underline; }

hr.more_margin { margin-top: 60px; margin-bottom: 40px; border: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #F5F0E3; }

hr.styled { border: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #F5F0E3; }

.btn_1, a.btn_1 { border: none; background: #85c99d; padding: 10px 20px; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: 600; display: inline-block; }

.btn_1:hover, a.btn_1:hover { background: #000; }

.btn_full, a.btn_full { border: none; width: 100%; background: #e81e2a; padding: 12px 20px; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: 700; display: block; margin-bottom: 5px; }

a.btn_map, a.btn_side { cursor: pointer; outline: 0; -webkit-transition: all .3s; -moz-transition: all .3s; margin-bottom: 25px; color: #F5F0E3; }

.btn_full:hover, a.btn_full:hover { background: #000000; }

.btn_1.medium, a.btn_1.medium { padding: 10px 20px; font-size: 14px; text-transform: none; }

a.btn_full_outline, a.btn_map, a.btn_side { font-family: inherit; padding: 10px 20px; font-size: 12px; display: block; }

.button_intro, a.btn_full_outline, a.btn_map, a.btn_side, a.button_intro { text-transform: uppercase; font-weight: 700; text-align: center; }

a.btn_map { border: none; background: #555; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

a.btn_map.active { border: none; background: #e81e2a; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

a.btn_map:hover { background: #000000; }

a.btn_side { border: none; background: #e81e2a; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.high_light a, a.btn_full_outline { -webkit-transition: all .3s; -moz-transition: all .3s; outline: 0; cursor: pointer; }

a.btn_side:hover { background: #000; color: #F5F0E3; }

a.btn_full_outline { color: #85c99d; background: 0 0; border: 2px solid #85c99d; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

a.btn_full_outline:hover { border: 2px solid #000000; color: #000000; }

.button_intro, a.button_intro { border: none; font-style: normal; color: #F5F0E3 !important; background: #e81e2a; cursor: pointer; padding: 12px 25px; display: inline-block; outline: 0; font-size: 13px; -webkit-transition: background .3s; -moz-transition: background .3s; transition: background .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; min-width: 110px; }

.button_intro:hover, a.button_intro:hover { background: #F5F0E3; color: #85c99d !important; }

.button_intro.outline, a.button_intro.outilne { border: 2px solid #F5F0E3; color: #F5F0E3; background: 0 0; padding: 10px 23px; }

#cart_box .btn_full, #cart_box a.btn_full { background: #e81e2a; font-size: 15px; }

#cart_box .btn_full:hover, #cart_box a.btn_full:hover { background: #000; }

#cart_box a.btn_full_outline:hover {

    color: #000;

    background: 0 0;

    border: 2px solid #000;

}

#cart_box a.btn_full_outline {
    color: #231f20;
    background: 0 0;
    border: 2px solid #231f20;
}

#social_footer, footer { border-top: 1px solid #ededed; }

header {

	background-color: #fff;

	z-index: 99999;

}

header.sticky { position: fixed; background-color: #fff; -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,.41); -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,.41); box-shadow: 0 2px 10px -2px rgba(0,0,0,.41); }

#subheader { color: #F5F0E3; text-align: center; display: table; width: 100%; height: 470px; }

#short #subheader { height: 350px; }

#subheader a { color: #FF9; }

footer { background-color: #F5F0E3; padding: 35px 0; }

footer h3 { font-size: 16px; font-weight: 600; color: #553712; }

footer a { color: #553712; }

footer a:hover { color: #e81e2a; }

footer ul { margin: 0; padding: 0 0 20px; }

footer .btn_1 { text-transform: none; padding: 8px 15px; background: #555; }

#social_footer { text-align: center; padding-top: 30px; margin-top: 30px; }

#social_footer p { font-size: 12px; color: #8c8c8c; }

#social_footer ul { margin: 0; padding: 0 0 10px; text-align: center; }

#social_footer ul li { display: inline-block; margin: 0 5px 10px; }

#social_footer ul li a { color: #fff; text-align: center; line-height: 34px; display: block; font-size: 16px; width: 35px; height: 35px; background-color: #553712; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

#social_footer ul li a:hover { background: #e81e2a; color: #F5F0E3; }

a#promote { display: inline-block; background: #ec008c; color: #F5F0E3; padding: 10px 15px 10px 42px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; margin-top: 10px; font-weight: 600; }

a#promote:hover { background-color: #000000; }

a#promote:before { content: "\e003"; font-family: ElegantIcons; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; font-size: 24px; position: absolute; left: 10px; top: 6px; }

#main_menu h3, .features-content h3, .high_light a, .marker_info h3, .tooltip-content h4 { text-transform: uppercase; }

footer .styled-select select { background: 0 0; width: 115%; padding: 7px 5px 5px 15px; border: 0; border-radius: 0; height: 37px; margin: 0; font-weight: 400; -moz-appearance: window; -webkit-appearance: none; cursor: pointer; color: #444; box-shadow: none; }

footer .styled-select { width: 100%; overflow: hidden; height: 40px; background: url(../img/arrow_down.svg) right center no-repeat #f8f8f8; border: none; margin-bottom: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.styled-select select { background: 0 0; width: 99.8%; padding: 7px 5px 5px 10px; border: 0; border-radius: 0; height: 37px; margin: 0; font-weight: 400; -moz-appearance: none; -webkit-appearance: none; appearance:none; cursor: pointer; color: #444; box-shadow: none; outline:none;}

.styled-select { width: 100%; overflow: hidden; height: 40px; background: url(../img/arrow_down.svg) right center no-repeat #fff; border:1px solid #ddd; margin-bottom:0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline:none; -moz-appearance: none; -webkit-appearance: none; appearance:none; outline:none;}

.styled-select select::-ms-expand {

 display: none;

}

.styled-select select:focus { outline:0;}

.main-menu-2 ul { margin: 0 0 17px; padding: 0; float: right; font-size: 14px; font-weight: 500; }

.main-menu-2 ul li { display: inline-block; margin-left: 15px; }

.main-menu-2 ul li a { color: #F5F0E3; }

#custom-search-input { top: 10px; padding: 0; width: 650px; margin: auto; position: relative; }

#custom-search-input .search-query { /*width: 650px;*/

width: 570px; padding: 15px 30px; border: 0; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.75); -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.75); box-shadow: 0 0 50px 0 rgba(0,0,0,.75); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600; color: #444; float:left;}

#states { width: 70px; float: left; margin-right: 4px; min-height: 50px; border-radius: 10px; }

#custom-search-input .form-control.select{width:70px; overflow: hidden; height: 40px; background: url(../img/arrow_down.svg) right center no-repeat #fff; border:none; margin-bottom:0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; outline:none; -moz-appearance: none; -webkit-appearance: none; appearance:none; outline:none; cursor:pointer;}

#count, #hero_video { color: #fff; z-index: 99; }

#custom-search-input input.btn_search { position: absolute; right: 20px; top: 13px; border: 0; width: 25px; height: 25px; background: url(../img/search.svg) center right no-repeat; cursor: pointer; }

#custom-search-input .search-query:focus, #custom-search-input input.btn_search:focus { outline: 0; }

#count { background-color: rgba(0,0,0,.25); width: 100%; position: absolute; bottom:0px; left: 0; padding: 15px 0; font-size: 18px; border-top: 1px solid rgba(255,255,255,.15); }

#count ul { padding: 0; margin: 0; text-align: center; }

#count ul li { display: inline-block; text-align: center; margin: 0 10px; padding-left: 20px; background: url(../img/dots_vert.png) center left no-repeat; }

#count ul li:first-child { margin-left: 0; padding-left: 0; background: 0 0; }

#count ul li:last-child { margin-right:0;}

#count .number { width: auto; display: inline-block; margin-right: 5px; font-weight: 600; text-align: right; font-size: 24px; }

#delivery_time, #hero_video, #hero_video > div, .box_home, .high_light a, .thumb_strip { text-align: center; }

.header-video { position: relative; overflow: hidden; background: #000; }

#hero_video { position: relative; background-size: cover; width: 100%; font-size: 16px; display: table; height: 100%; }

#hero_video > div { display: table-cell; padding: 0 10%; }

#hero_video > div h1 { margin-top: -30px; }

#hero_video .input-group{display:inline-block;}

video { position: absolute; top: 0; bottom:0; left: 0; right: 0; opacity: .35; width: 100%; }

iframe { height: 100%; width: 100%; }

.header-video--media, .teaser-video { width: 100%; height: auto; }

.box_home { background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #ededed; margin-bottom: 25px; padding: 120px 25px 25px; position: relative; font-size: 14px; color: #666; min-height: 235px; }

.box_home h3, .box_home span { font-size: 16px; font-weight: 700; }

.box_home span { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px solid #ededed; background-color: #fff; position: absolute; top: -20px; display: block; width: 40px; height: 40px; line-height: 38px; left: 50%; margin-left: -20px; }

.box_home#one { background: url(../img/icon_home_1.svg) center 40px no-repeat #fff; }

.box_home#two { background: url(../img/icon_home_2.svg) center 40px no-repeat #fff; }

.box_home#three { background: url(../img/icon_home_3.svg) center 40px no-repeat #fff; }

.box_home#four { background: url(../img/icon_home_4.svg) center 40px no-repeat #fff; }

.box_home h3 { margin-bottom: 3px; }

#delivery_time { width: 500px; margin: 25px auto auto; }

#delivery_time strong span { background: url(../img/time_panel.svg) no-repeat; display: inline-block; width: 80px; margin-left: 10px; height: 120px; font-size: 72px; line-height: 120px; text-shadow: 1px 1px 2px rgba(255,255,255,1); }

#pass-info.goodpass, #pass-info.stillweakpass, #pass-info.strongpass, #pass-info.weakpass { text-shadow: 1px 1px 1px #F5F0E3; }

.high_light { padding: 60px 0; background: #e81e2a; color: #F5F0E3; font-size: 16px; }

.high_light p { margin-bottom: 0; }

.high_light > div { position: relative; }

.high_light h3 { color: #F5F0E3; font-weight: 300; font-size: 42px; margin: 0; padding: 0; }

.high_light a { font-family: inherit; color: #F5F0E3; background: 0 0; border: 2px solid #F5F0E3; padding: 15px 30px; font-size: 14px; transition: all .3s; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: 700; display: inline-block; margin-top: 15px; position: absolute; right: 15px; top: 0; }

.high_light a:hover { background: #000000; color: #F5F0E3; border: 2px solid #000000; }

#map { width: 100%; height: 450px; border-bottom: 1px solid #ddd; }

#filters_col { background-color: #fff; padding: 20px; border: 1px solid #ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom: 25px; }

#filters_col label { font-weight: 400; }

a#filters_col_bt { display: block; color: #444; font-weight: 600; }

a#filters_col_bt .icon_set_1_icon-65 { font-size: 20px; position: relative; top: 0; margin-right: 5px; }

.filter_type h6 { border-top: 1px solid #ddd; margin: 15px 0; padding: 15px 0 0; }

.filter_type ul { padding: 0; margin: 0 0 15px; }

.filter_type ul li .rating { font-size: 16px; left: -7px; position: relative; top: 3px; color: #ccc; }

.filter_type ul li .color_1, .filter_type ul li .color_2, .filter_type ul li .color_3, .filter_type ul li .color_4, .filter_type ul li .color_5, .filter_type ul li .color_6, .filter_type ul li .color_7, .filter_type ul li .color_8 { width: 8px; height: 8px; margin: 5px 5px 0 0; float: right; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

.filter_type ul li .color_1 { background-color: #7dccc7; }

.filter_type ul li .color_2 { background-color: #f29bc1; }

.filter_type ul li .color_3 { background-color: #8494c8; }

.filter_type ul li .color_4 { background-color: #8dc63f; }

.filter_type ul li .color_5 { background-color: #84c99e; }

.filter_type ul li .color_6 { background-color: #f5977d; }

.filter_type ul li .color_7 { background-color: #72d0f4; }

.strip_list { background-color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 20px; position: relative; border: 1px solid #ededed; min-height: 152px; margin-bottom: 30px; line-height: 1.3; display: none; }

.strip_list.last { margin-bottom: 25px; }

a.strip_list:hover h3 { color: #e81e2a; }

.desc { padding-left: 135px; position: relative; }

.desc .rating { color: #ccc; padding-top: 0; }

.desc h3 { margin: 0; padding: 0; }

.desc h3 a { color: #553712; }

.desc h3 a:hover { color: #EC008C; }

.desc .type { font-size: 12px; font-style: italic; color: #777; margin-bottom: 12px; margin-top: 5px; }

.desc ul li i.no, .desc ul li i.ok { position: relative; top: 2px; left: 5px; font-size: 14px; }

.desc .opening { color: #e81e2a; }

.desc ul { margin: 3px 0 0; padding: 0; }

.desc ul li { display: inline-block; margin-right: 15px; }

.desc ul li i.ok { color: #6C3; }

.desc ul li i.no { color: #e81e2a; }

.thumb_strip { position: absolute; left: 0; top: 0; width: 110px; height: 110px; border: 1px solid #ededed; padding: 5px; }

#cart_box, .box_style_1, .box_style_2 { -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.thumb_strip img { width: 98px; height: auto; }

.strip_list .go_to {

    display: table;

    height: 112px;

    text-align: right;

    width: 140px;

    margin: 0px 0px;

}

#confirm, #pass-info, #sub_content, #sub_content #thumb, .box_style_2#help, .feature i, .features-img, .marker_info, .modal-popup, .parallax-content, .parallax-content-2 > div, .sk-spinner-wave.sk-spinner, .strip_list.grid .desc, .tooltip-content, a.bt_filters, a.load_more_bt { text-align: center; }

.strip_list .go_to div { display: table-cell; }

.ribbon_1 { position: absolute; text-indent: -9999px; top: -5px; left: -5px; background: url(../img/ribbon_popular.png) no-repeat; width: 81px; height: 80px; z-index: 3; }

#preloader, .modal-backdrop { z-index: 999999; }

.box_style_1 { background: #fff; border-radius: 3px; border: 1px solid #ededed; margin-bottom: 30px; }

#cart_box, .box_style_2 { background: #fff; border-radius: 3px; border: 1px solid #ededed; margin-bottom: 25px; padding: 25px; }

.box_style_2#main_menu, .box_style_2.info { padding-bottom: 10px; }

.box_style_2#help i { font-size: 52px; display: inline-block; color: #999; }

.box_style_2#help a.phone { font-size: 26px; display: block; margin-bottom: 0;}

#cart_box { background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #ededed; margin-bottom: 25px; padding: 15px; }

#cart_box h3 { background: #e81e2a; margin: -15px -15px 15px; padding: 15px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 18px; }

a.remove_item { color: #ddd; font-size: 14px; }

a.remove_item:hover { color: #231F20; }

#cart_box hr { margin-left: -15px; margin-right: -15px; border-color: #ededed; }

#main_menu hr, #order_process hr { margin-left: -25px; margin-right: -25px; margin-top: 10px; border-color: #ededed; }

#main_menu h3 { font-size: 20px; }

ul#cat_nav { margin: 0; padding: 0; }

ul#cat_nav li { border-bottom: 1px solid #ededed; }

ul#cat_nav li a { position: relative; color: #555; display: block; padding: 15px 10px; }

ul#cat_nav li a span { font-size: 11px; color: #999; }

/*ul#cat_nav li a:after { font-family: fontello; content: "\e89b"; position: absolute; right: 15px; top: 15px; }*/

ul#cat_nav li:last-child { border-bottom: 0; padding-bottom: 0; }

ul#cat_nav li:first-child a.active, ul#cat_nav li:first-child a:hover { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }

ul#cat_nav li:last-child a.active, ul#cat_nav li:last-child a:hover { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }

ul#cat_nav li a.active, ul#cat_nav li a:hover { background: #f9f9f9; color: #111; }

#sub_content { display: table-cell; padding: 0 15%; font-size: 16px; }

#sub_content #thumb { width: 130px; height: 130px; padding-top: 5px; margin: auto auto 15px; background-color: #fff; }

#sub_content #thumb img { width: 120px; height: auto; }

#sub_content h1 { margin: 0 0 10px; font-size: 60px; font-weight: 300; color: #F5F0E3; }

.rating { color: #F5F0E3; padding-top: 10px; }

.rating .voted { color: #FC0; margin-right: 3px; }

ul.additional_links { list-style: none; margin: 0; padding: 0; }

ul.additional_links li { display: inline-block; border-left: 1px solid #ededed; margin-left: 3px; padding-left: 5px; }

ul.additional_links li:first-child { border-left: none; padding-left: 0; margin-left: 0; }

.table.cart-list td h5 { margin-bottom: 0; font-weight: 600; }

.table td.total_confirm, .table.table_summary td.total { font-weight: 600; font-size: 15px; }

.table.cart-list { margin-bottom: 0; }

.table.table_summary td {
    border-top: 0;
    color: #000;
}

.table td.total_confirm { background-color: #000000; color: #F5F0E3; }

.options i { font-size: 26px; }

.row#options_2 { margin-bottom: -10px; margin-top: -5px; }

#options_2 label { font-size: 12px; }

.thumb_cart { border: 1px solid #ddd; overflow: hidden; width: 60px; height: 60px; margin-right: 10px; float: left; }

.thumb_cart img { padding: 1px; width: 58px; height: auto; }

.item_cart { display: inline-block; margin-top: 20px; }

.bs-wizard { width: 90%; margin: auto; }

.bs-wizard > .bs-wizard-step { padding: 0; position: relative; }

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum { font-size: 16px; margin-bottom: 5px; }

.bs-wizard > .bs-wizard-step .bs-wizard-info { color: #999; font-size: 14px; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot { position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -11px; margin-left: -15px; border-radius: 50%; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after { content: ' '; width: 14px; height: 14px; background: #e04f67; border-radius: 50px; position: absolute; top: 8px; left: 8px; }

.bs-wizard > .bs-wizard-step > .progress { position: relative; border-radius: 0; height: 8px; box-shadow: none; margin: 23px 0; }

.bs-wizard > .bs-wizard-step > .progress > .progress-bar { width: 0; box-shadow: none; background: #fbe8aa; }

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar { width: 100%; }

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar { width: 50%; }

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar { width: 0; }

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar { width: 100%; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot { background-color: #f5f5f5; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after { opacity: 0; }

.bs-wizard > .bs-wizard-step:first-child > .progress { left: 50%; width: 50%; }

.bs-wizard > .bs-wizard-step:last-child > .progress { width: 50%; }

#confirm { margin-bottom: 25px; }

#confirm i { font-size: 140px; color: #85c99d; display: inline-block; }

#Img_carousel .sp-selected-thumbnail { border-bottom: 2px solid #ec008c; }

#summary_review { margin: 30px 0 40px; padding: 25px 25px 10px; background-color: #f1fafa; }

#general_rating { margin: 0 0 20px; font-weight: 600; font-size: 16px; }

#general_rating .rating { display: inline; color: #ddd; font-size: 20px; }

#rating_summary ul { margin: 0; padding: 0; }

#rating_summary ul li { font-size: 14px; margin-bottom: 5px; }

#rating_summary ul li .rating { display: inline-block; float: right; padding: 0; color: #ddd; }

.review_strip_single { position: relative; padding: 30px 0 20px; margin: 30px 0 25px; }

.review_strip_single .rating { color: #ddd; font-size: 12px !important; }

.review_strip_single.last { margin-bottom: 0; border-bottom: 0; }

.review_strip_single img { top: -15px; position: absolute; left: 0; border: 4px solid #ededed; }

.review_strip_single h4 { font-size: 18px; margin: -12px 0 35px 90px; padding: 0; }

.review_strip_single small { float: right; font-size: 12px; margin-top: -10px; font-style: italic; }

ul.opening_list { margin: 20px 0 0; padding: 0; }

ul.opening_list li { margin-bottom: 8px; font-weight: 600; }

ul.opening_list li span { float: right; font-weight: 400; }

.features-bg { position: relative; min-height: 400px; background: url(../img/features-intro-01.jpg) center center no-repeat; background-size: cover; }

.features-img { width: 100%; height: 400px; line-height: 400px; }

.features-content { position: relative; padding: 11% 100px 10%; height: 400px; background-color: #553712; color: #F5F0E3; font-size: 16px; }

.features-content h3 { font-family: "Gochi Hand", cursive; color: #F5F0E3; font-size: 32px; line-height: 34px; }

.feature { padding: 30px 30px 20px 120px; position: relative; background: #e81e2a; margin-bottom: 30px; color: #553712; -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1); -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.1); box-shadow: 0 0 5px 0 rgba(0,0,0,.1); }

.feature i { position: absolute; top: 30px; left: 30px; padding: 0; margin: 0; width: 65px; height: 65px; line-height: 60px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px dashed #ccc; font-size: 34px; color: #F5F0E3; }

#contacts a { font-size: 18px; }

#preloader { position: fixed; top: 0; left: 0; right: 0; width: 100%; height: 100%; bottom: 0; background-color: #e81e2a; }

.tooltip-content, .tooltip-item::after { bottom: 100%; width: 180px; position: absolute; }

.sk-spinner-wave.sk-spinner { margin: -15px 0 0 -25px; position: absolute; left: 50%; top: 50%; width: 50px; height: 30px; font-size: 10px; }

.parallax-content .sub_content h3, .parallax-content-2 div h3 { margin: 0 0 10px; font-weight: 300; color: #fff; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sk-spinner-wave div { background-color: #fff; height: 100%; width: 6px; display: inline-block; -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out; animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }

.sk-spinner-wave .sk-rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.sk-spinner-wave .sk-rect3 { -webkit-animation-delay: -1s; animation-delay: -1s; }

.sk-spinner-wave .sk-rect4 { -webkit-animation-delay: -.9s; animation-delay: -.9s; }

.sk-spinner-wave .sk-rect5 { -webkit-animation-delay: -.8s; animation-delay: -.8s; }

	@-webkit-keyframes sk-waveStretchDelay {  0%, 100%, 40% {

	 -webkit-transform: scaleY(.4);

	 transform: scaleY(.4);

	}

	 20% {

	 -webkit-transform: scaleY(1);

	 transform: scaleY(1);

	}

	}

	 @keyframes sk-waveStretchDelay {  0%, 100%, 40% {

	 -webkit-transform: scaleY(.4);

	 transform: scaleY(.4);

	}

	 20% {

	 -webkit-transform: scaleY(1);

	 transform: scaleY(1);

	}

}

.parallax-window { min-height: 470px; background: 0 0; position: relative; }

.parallax-window#home { min-height: 550px; }

.parallax-window#short { height: 350px; min-height: inherit; }

.parallax-content { color: #fff; display: table; width: 100%; height: 420px; }

.parallax-content .sub_content { display: table-cell; padding: 0 15%; vertical-align: middle; text-align: center; font-size: 16px; }

.parallax-content .sub_content h3, .parallax-content .sub_content i { font-size: 60px; }

.parallax-window-2 { height: auto; background: url(../img/bg_office.jpg) center center no-repeat fixed; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; position: relative; }

.parallax-content-2 { display: table; width: 100%; height: auto; }

.parallax-content-2 > div { display: table-cell; padding: 10% 15%; color: #fff; font-size: 16px; }

.parallax-content-2 div h3 { font-size: 60px; }

.modal-dialog #review .form-control.form-white, .parallax-content-2 div p { margin-bottom: 0; }

.margin_fix { margin-top: 60px; }

#message-review .error_message { color: #FF9; position: relative; top: -30px; }

.form-control.form-white { color: #fff; font-size: 14px; height: 38px; position: relative; border-radius: 0; border: 1px solid #fff;background: transparent;box-shadow:none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select.form-control.form-white { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; box-shadow: 0; border-radius: 0; height: 42px; line-height: 28px; }

.form-control.form-white::-webkit-input-placeholder {

	color: #fff;

}

.form-control.form-white:-moz-placeholder {

	opacity: 1;

	color: #fff;

}

.form-control.form-white::-moz-placeholder {

	opacity: 1;

	color: #fff;

}

.form-control.form-white:-ms-input-placeholder {

	color: #fff;

}

.form-control.form-white:focus { background: rgba(255,255,255,.2) !important; -webkit-box-shadow: none; box-shadow: none ; }

.login_icon { color: #fff; font-size: 60px; opacity: .5; }

.modal { padding: 0 25px !important; z-index: 9999999; }

.modal-dialog #review { width: 100%; max-width: 650px; }

.modal-popup a, .modal-popup a:hover { color: #fff; }

.modal-popup a.close-link { font-size: 22px; position: absolute; top: 20px; right: 30px; color: #fff; }

.modal-popup a.close-link:hover { color: #000000; text-decoration: none; }

.login form, .ragister form { width: 100%;}

.checkbox { display: block; position: relative; }

.checkbox label:before { position: absolute; top: 0; left: 0; width: 20px; height: 20px; cursor: pointer; border: 2px solid #fff; background: 0 0; -webkit-transition: background-color .3s; transition: background-color .3s; }

.checkbox input[type=checkbox]:focus + label:before { background: rgba(255,255,255,.2); }

.checkbox label:after { position: absolute; top: 6px; left: 6px; width: 8px; height: 8px; opacity: 0; background: #fff; -webkit-transition: all .3s ease; transition: all .3s ease; }

.checkbox input[type=checkbox] { opacity: 0; position: absolute; width: 0; height: 0; }

.checkbox input[type=checkbox]:checked + label:after { opacity: 1; }

.checkbox-holder span { position: relative; display: inline-block; margin: 0 0 0 10px; white-space: normal; color: #656565; }

.btn.btn-submit {

    width: 100%;

    margin-top: 30px;

    color: #000;

    padding: 10px;

    font-weight: 600;

    outline: 0;

    -webkit-transition: all .2s ease;

    transition: all .2s ease;

    font-size: 16px;

}

.btn.btn-submit:focus { outline: 0; }

.add_bottom_15 { margin-bottom: 15px; }

.add_bottom_30 { margin-bottom: 30px; }

.add_bottom_45 { margin-bottom: 45px; }

.add_bottom_60 { margin-bottom: 60px; }

.add_bottom_75 { margin-bottom: 75px; }

.add_top_20 { padding-top: 20px; }

.add_top_60, .margin_60, .margin_60_35 { padding-top: 60px; }

.margin_60 { padding-bottom: 60px; }

.margin_60_35 { padding-bottom: 35px; }

.margin_30 { margin-top: 30px; margin-bottom: 30px; }

.nomargin_top {
    margin-top: 0;
    color: #231f20;
}

.nomargin, .nopadding { margin: 0 !important; }

.nopadding { padding: 0 !important; }

.marker_info { width: 250px; height: 280px; padding: 20px; border-radius: 3px; background: #FFF; background: rgba(255,255,255,.9); position: relative; z-index: 9999999; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.marker_info img { display: block; margin: auto; }

.marker_info h3 { font-size: 16px; line-height: 18px; margin-bottom: 3px; }

.marker_info em { margin-bottom: 10px; display: inline-block; font-size: 13px; color: #999; }

.marker_info span { display: block; padding: 0; font-size: 12px; line-height: 16px; color: #555; margin-bottom: 15px; }

.marker_info:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; border-right-color: rgba(255,255,255,.9); border-width: 10px; margin-top: -10px; }

.tooltip-content::after, .tooltip-item::after { content: ''; left: 50%; }

#pass-info { width: 100%; margin-bottom: 8px; color: #829CBD; font: 12px/25px Arial, Helvetica, sans-serif; }

#pass-info.weakpass { border: 1px solid #FF9191; background: #FFC7C7; color: #94546E; }

#pass-info.stillweakpass { border: 1px solid #FBB; background: #FDD; color: #945870; }

#pass-info.goodpass { border: 1px solid #C4EEC8; background: #E4FFE4; color: #51926E; }

#pass-info.strongpass { border: 1px solid #6ED66E; background: #79F079; color: #348F34; }

#pass-info.vrystrongpass { border: 1px solid #379137; background: #48B448; color: #CDFFCD; text-shadow: 1px 1px 1px #296429; }

.loader { margin-left: 5px; position: absolute; }

.error_message { color: #F33; font-weight: 600; margin-bottom: 4px; }

.form-control { color: #553712; height: 40px; border-radius: 3px; border: 1px solid #ddd; box-shadow: 0; }

.panel, .panel-group .panel, .payment_select { border-radius: 3px; }

.form-group { margin-bottom: 20px; }

footer .form-group { margin-bottom: 15px; }

.payment_select { background-color: #f0f0f0; padding:12px 15px 5px; margin-bottom: 20px; }

.payment_select label { font-size: 16px; }

.payment_select i { float: right; font-size: 24px; }

.payment_select#paypal { background: url(../img/paypal.svg) center right no-repeat #f0f0f0; }

.panel { -webkit-box-shadow: none; box-shadow: none; border-color: #ededed; }

.panel-title a { display: block; color: #444; }

.panel-default > .panel-heading { background-color: #f9f9f9; padding: 20px; border-bottom: 1px solid #ddd; }

.panel-heading { border-top-left-radius: 3px; border-top-right-radius: 3px; }

.panel-body { padding: 30px; line-height: 1.6 !important; }

.panel-title a .indicator { color: #ec008c; }

.panel-title a:hover .indicator { color: #000000; }

.tab-content { padding: 30px; background-color: #fff; border: 1px solid #ddd; border-top: none; margin-bottom: 25px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }

.tooltip_styled { display: inline; position: relative; z-index: 999; }

.tooltip-item { cursor: pointer; display: inline-block; }

.tooltip-item::after { height: 20px; pointer-events: none; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.tooltip_styled:hover .tooltip-item::after { pointer-events: auto; }

.tooltip-content { z-index: 9999; left: 50%; margin: 0 0 20px -90px; line-height: 1.2; display: block; padding: 15px; font-size: 13px; font-weight: 600; color: #fff; box-shadow: -5px -5px 15px rgba(48,54,61,.2); background: #553712; opacity: 0; cursor: default; pointer-events: none; }

.white_bg, a.load_more_bt:hover { background-color: #fff; }

.tooltip-effect-1 .tooltip-content { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); -webkit-transition: opacity .3s, -webkit-transform .3s; transition: opacity .3s, transform .3s; }

.tooltip-effect-2 .tooltip-content { -webkit-transform-origin: 50% calc(100% + 10px); transform-origin: 50% calc(100% + 10px); -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg); transform: perspective(1000px) rotate3d(1, 0, 0, 45deg); -webkit-transition: opacity .2s, -webkit-transform .2s; transition: opacity .2s, transform .2s; }

.tooltip-effect-3 .tooltip-content { -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg); transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg); -webkit-transition: opacity .3s, -webkit-transform .3s; transition: opacity .3s, transform .3s; }

.tooltip-effect-4 .tooltip-content { -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transform: scale3d(.7, .3, 1); transform: scale3d(.7, .3, 1); -webkit-transition: opacity .2s, -webkit-transform .2s; transition: opacity .2s, transform .2s; }

.tooltip_styled:hover .tooltip-content { pointer-events: auto; opacity: 1; -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }

.tooltip_styled.tooltip-effect-2:hover .tooltip-content { -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg); transform: perspective(1000px) rotate3d(1, 0, 0, 0deg); }

.tooltip-content::after { top: 100%; border: solid transparent; height: 0; width: 0; position: absolute; pointer-events: none; border-color: #553712 transparent transparent; border-width: 10px; margin-left: -10px; }

.tooltip-content .label { margin-left: 10px; }

.tooltip-content i { font-size: 20px !important; top: 3px !important; left: -3px !important; position: relative; }

.tooltip-content h4 { display: block; margin: 0 0 10px; line-height: 14px; font-size: 14px; color: #fff; }

.tooltip-content a { font-weight: 700; }

blockquote.styled { font-family: Georgia, "Times New Roman", Times, serif; }

a.strip_list { color: #555; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; }

a.strip_list:hover { transform: translate(0, -5px); -webkit-transform: translate(0, -5px); -ms-transform: translate(0, -5px); -webkit-box-shadow: 0 2px 0 0 #ebedef; -moz-box-shadow: 0 2px 0 0 #ebedef; box-shadow: 0 2px 0 0 #ebedef; }

.strip_list.grid .desc { padding-left: 0; }

.strip_list.grid .thumb_strip { display: block; position: static; margin: auto auto 15px; width: 140px; height: 140px; }

.strip_list.grid .thumb_strip img { width: 128px; height: auto; }

.strip_list.grid .desc ul { margin: 10px 0 0; }

a.load_more_bt { display: block; padding: 10px; border: 3px solid #fff; color: #555; font-weight: 600; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

a.load_more_bt:hover { color: #ec008c; }

#tools { background: #fff; margin-bottom: 25px; height: 38px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #ededed; }

a.bt_filters { height: 36px; width: 36px; color: #555; display: inline-block; line-height: 36px; float: right; font-size: 16px; border-left: 1px solid #ededed; }

#tools .styled-select select { background: 0 0; width: 115%; padding: 7px 5px 5px 15px; border: 0; border-radius: 0; height: 31px; margin: 0; font-weight: 600; font-size: 11px; -moz-appearance: window; -webkit-appearance: none; cursor: pointer; color: #444; box-shadow: none; }

#tools .styled-select { width: 100%; overflow: hidden; height: 36px; background: url(../img/arrow_down.svg) right center no-repeat; border: none; border-right: 1px solid #ededed; }

#back-to-top { position: fixed; bottom: 40px; right: 40px; z-index: 9999; width: 40px; height: 40px; text-align: center; line-height: 40px; background: #553712; color: #e81e2a; cursor: pointer; border: 0; border-radius: 2px; text-decoration: none; transition: opacity 0.2s ease-out; opacity: 0; font-size: 25px; }

#back-to-top:hover { background: #e81e2a; color: #F5F0E3; } 

#back-to-top.show { opacity: 1; }

.cart-lg-ctn{width:100%; display:inline-block; text-align:center; vertical-align:top; padding:0; margin:0;}

.cart-lg-ctn a.lg-btn {width:auto; display:inline-block; vertical-align:top; background:#e81e2a; font-size:16px; color:#fff; padding:10px 40px; margin:0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;}

.cart-lg-ctn a.lg-btn:hover {background:#000000;}

.cart-lg-ctn span.or-text{font-size:14px; vertical-align:middle; display:inline-block; font-weight:bold; padding:0 15px; margin-top:10px;}

.cart-lg-ctn .guest-text {

    width: auto;

    display: inline-block;

    vertical-align: top;

    border: #e81e2a solid 1px;

    font-size: 15px;

    color: #e81e2a;

    padding: 10px 20px;

    margin: 0;

    border-radius: 3px;

    -moz-border-radius: 3px;

    -webkit-border-radius: 3px;

    -o-border-radius: 3px;

}

.cart-lg-ctn a.guest-text:hover {

    background-color: #e81e2a;

    color: #fff;

}

.cart-lg-ctn p.btm-text {margin:0; padding:0; text-align:center; font-size:14px; margin-top:15px; width:100%; float:left; color:#555;}

.agree-ctn{margin:20px 0 0 0; list-style:none; padding:0px;}

 p.cust-text{margin:0px; padding:0px; font-size:14px; line-height:22px;}

.payment-methods a.btn_full {background: #ec008c none repeat scroll 0 0; font-size: 15px;}

.payment-methods a.btn_full:hover {background: #000000;}

.delivery-info-ctn h2.inner{font-size:16px;}

.delivery-info-ctn{width:100%;}

.delivery-info-ctn .dropdown-toggle{line-height:1.9;}

.delivery-info-ctn select{cursor:pointer;}

.delivery-time-ctn label{width:100%; position:relative;}

.delivery-time-ctn label{width:100%;}

.delivery-time-ctn label span.text{position:absolute; left:0; top:0; width:100%; text-align:center; line-height:40px; cursor:pointer; color:#fff;}

.delivery-time-ctn .iradio_square-grey{background-position:0 0; background:#73716e; width:100%; height:40px; border-radius:3px;}

.delivery-time-ctn .iradio_square-grey.checked{background:#e81e2a; background-position:0 0; width:100%; height:40px;}

.table-bg-none{background:none !important;}

.table-bg-none td{border:none !important;}

h4.modal-title.choice{font-size:22px; font-weight:bold;}

.modal-body.popup-ctn{padding:20px;}

.other-item-popup-ctn{width:100%; margin:0; padding:0;}

.other-item-popup-ctn h2{font-size:18px; color:#2b2b2b; width:100%; margin:0 0 10px 0; padding:0; font-weight:bold; float:left;}

.other-item-popup-ctn p.dei-text{font-size:14px; color:#555; width:100%; margin:0 0 15px 0; padding:0; line-height:22px; float:left; text-align:left;}

.other-item-popup-ctn h3.small-title{font-size:16px; float:left; color:#777; width:100%; margin:0 0 20px 0; padding:0 0 15px 0; border-bottom:#ddd solid 1px; font-weight:bold;}

.other-item-popup-ctn ul.item-list{margin:0; padding:0; float:left; width:100%;}

.other-item-popup-ctn ul.item-list li{margin:0 0 10px 0; padding:0; float:left; width:100%; font-size:13px; list-style:none;}

.other-item-popup-ctn ul.item-list li label{cursor:pointer; width:100%;}

.other-item-popup-ctn p{width:100%; margin:10px 0 0 0; padding:0; text-align:right;}

.other-item-popup-ctn p .btn-primary{border-radius: 5px; padding:8px 20px; background:#231F20;  border:none; text-transform:uppercase; font-size:14px; font-weight:bold;}

.other-item-popup-ctn p .btn-primary:hover{background:#000000;}

.date input.form-control{background:url(../img/calendar-icon.png) no-repeat 97% 8px; cursor:pointer;}

.tip-div {

    font-size: 16px !important;

    width: 100%;

    float: left;

    background-color: #f1f1f1;

    padding: 5px;

    border: 1px solid #ddd;

}

.tip-box {

    font-size: 14px;

    float: left;

    width: 100%;

    margin-bottom: 10px;

    border: 1px solid #ddd;

    padding: 5px;

}

.tip-box span {

    /* float: left; */

    /* width: 100%; */

    font-weight: 400;

    margin-bottom: 0;

    text-align: left;

    padding: 5px;

    /* border-bottom: 1px solid #f1f1f1; */

}

.tips {

    float: left;

    width: 100%;

    padding: 3px;

    border-bottom: 1px solid #f1f1f1;

    /* background-color: #e81e2a; */

    /* text-align: center; */

}



.tips label.control {

    /* float: left; */

    margin-bottom: 0;

    /* margin-top: 4px; */

    /* width: 100%; */

    padding: 8px;

    background-color: #e81e2a;

    color: #fff;

    border-radius: 3px;

    display: inline-block;

}

.tips label.control .control__indicator {

    position: relative;

    left: 0;

    top: 0;

    float: left;

    margin-right: 5px;

}



.checkaddel{ color: red; float: right;cursor: pointer; }



td.mitemtl {

    text-transform: capitalize;

}