<template>
    <div id="sticky">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Order Summary</span>
        </h4>
        <ul class="list-group mb-3 orderSumeryBox">
            <li
                class="list-group-item d-flex justify-content-between lh-condensed"
            >
                <div>
                    <small class="text-muted">Item Price </small>
                </div>
                <span class="text-muted">${{ itemPrice }}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between lh-condensed"
            >
                <div>
                    <small class="text-muted">Quantity </small>
                </div>
                <span
                    class="text-muted"
                    > {{ itemQty }} </span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between lh-condensed"
            >
                <div>
                    <small class="text-muted">Delivery Fee</small>
                </div>
                <span class="text-muted">${{ itemFee }}</span>
            </li>
            <li
                class="list-group-item d-flex justify-content-between lh-condensed"
            >
                <div>
                    <small class="text-muted">Sub Total</small>
                </div>
                <span class="text-muted"
                    >${{subtotal}}</span
                >
            </li>
         
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <small>Promotion Applied</small>
                </div>
                <span class="text-success">-$5</span>
            </li>
      

            <li class="list-group-item d-flex justify-content-between fulTotal">
                <span>Total (USD)</span>
                <strong
                    >$20</strong
                >
            </li>
        </ul>

        <form
            class="card p-2"
           
        >
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Promo code"
                    v-model="couponCode"
                />
                <div class="input-group-append">
                    <button type="button" @click.prevent="validateCoupon" class="btn btn-secondary">
                        Redeem
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props:["price","qty","fee","item"],
    data(){
        return {
            itemPrice:this.price,
            itemQty:this.qty,
            itemFee:this.fee,
            itemID:this.item,
            couponCode:""
        }
    },
    computed:{
        subtotal(){
            return (this.itemPrice*this.itemQty)+parseInt(this.itemFee);
        }
    },
    methods:{
        validateCoupon(){
            axios.post("checkout.validate-coupon.json",{
                coupon:this.couponCode,
                pid:this.itemID
            }).then(response => {
                console.log(response);
            }).catch(error=> {
                console.log(error);
            });

        }
    }
};
</script>

<style></style>
