<template>
    <div class="col-lg-3  col-sm-4 col-xs-12 ml-auto">
        <div class="forFilterBar">
            <div class="mb-5">
                <h3 class="h5 text-black mb-4">Filters</h3>
                <form action="#" method="post" @submit.prevent="applyFilter()">
                    <!-- <div class="form-group">
                        <input
                            type="text"
                            placeholder="What are you looking for?"
                            class="form-control"
                            v-model="searchText"
                        />
                    </div> -->
                    <div class="form-group">
                        <div class="select-wrap">
                            <span class="icon"
                                ><span class="icon-keyboard_arrow_down"></span
                            ></span>
                            <select
                                @change="pstypechange" 
                                v-model="pstype"
                                class="form-control"
                                name=""
                                id=""
                            >
                                <option
                                    :value="0"
                                    :key="0"
                                    >Products
                                </option>
                                <option
                                    :value="1"
                                    :key="1"
                                    >Services
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-wrap">
                            <span class="icon"
                                ><span class="icon-keyboard_arrow_down"></span
                            ></span>
                            <select
                                 
                                v-model="category"
                                class="form-control"
                                name=""
                                id=""
                            >
                                <option value="">Choose Category</option>
                                <optgroup
                                    v-for="category in categories"
                                    :label="category.category"
                                    :key="category.id"
                                >
                                    <option
                                        v-for="subcategory in category.subcategory"
                                        :value="subcategory.id"
                                        :key="subcategory.id"
                                        >{{ subcategory.sub_category }}</option
                                    >
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- select-wrap, .wrap-icon -->
                        <div class="wrap-icon">
                            <span class="icon icon-room"></span>
                          
                                <vue-google-autocomplete
                                    id="maps"
                                    classname="form-control"
                                    placeholder="Delivery Address"
                                    v-on:placechanged="getAddressData"
                                    ref="address"
                                >
                                </vue-google-autocomplete>
                         
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="form-group">
                            <p>Select Price Range</p>
                        </div>
                        <div class="form-group price-filter" id="price">
                            <input
                                v-model="priceRange"
                                type="range"
                                min="0"
                                max="2000"
                                data-rangeslider
                            /> 
                            
                        </div>
                    </div>
                     <div class="mb-5">
                        <div class="form-group">
                            <p>Distance Range</p>
                        </div>
                        <div class="form-group distance-filter" id="dist">
                            <input
                                v-model="distance"
                                type="range"
                                min="1"
                                max="50"
                                data-rangeslider
                            />

                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="form-group">
                            <p>Review Rating</p>
                        </div>
                        <div class="form-group review-filter" id="rvw">
                            <input
                                v-model="review"
                                type="range"
                                min="0"
                                max="5"
                                data-rangeslider
                            />

                        </div>
                    </div>
                    <!-- <div class="mb-5">
                        <div class="form-group">
                            <p>Category 'Real Estate' is selected</p>
                            <p>More filters</p>
                        </div>
                        <div class="form-group">
                            <ul class="list-unstyled">
                                <li>
                                    <label for="option1">
                                        <input type="checkbox" id="option1" />
                                        Residential
                                    </label>
                                </li>
                                <li>
                                    <label for="option2">
                                        <input type="checkbox" id="option2" />
                                        Commercial
                                    </label>
                                </li>
                                <li>
                                    <label for="option3">
                                        <input type="checkbox" id="option3" />
                                        Industrial
                                    </label>
                                </li>
                                <li>
                                    <label for="option4">
                                        <input type="checkbox" id="option4" />
                                        Land
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div>
                        <button
                             
                            type="submit"
                            class="btn btn-dark p-2 btn-block float-right"
                        >
                            Apply Filters
                        </button>
                    </div>
                </form>
            </div>

            <!-- <div class="mb-5">
                <h3 class="h6 mb-3">More Info</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti voluptatem placeat facilis, reprehenderit eius
                    officiis.
                </p>
            </div> -->
        </div>
    </div>
</template>

<script>
import VueGoogleAutocomplete from "vue-google-autocomplete";
import { eventBus } from "./../../app";
export default {
    props: ["selectedCategory", "queryAddress"],
    components: {
        "vue-google-autocomplete": VueGoogleAutocomplete
    },
    data() {
        return {
            categories: [],
            category: "",
            address: "",
            lat: "",
            lng: "",
            searchText: "",
            pstype: 0,
            pstype: 0,
            priceRange: 0,
            distance:50,
            review: 0
        };
    },
    methods: {
        getAddressData(addressData, placeResultData, id) {
            this.address = placeResultData.formatted_address;
        },
        applyFilter() {
            eventBus.$emit("showLoader");
            let address;
            if (this.address == "") {
                if ($("#map").val() != "") {
                    address = $("#map").val();
                } else {
                    swal("Opps!", "Please Enter a Location!", "warning");
                    return;
                }
            } else {
                address = this.address;
            }
            $.ajax({
                url: `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
                type: "GET",
                dataType: "json",
                success: data => {
                    console.log(data.results[0].geometry.location);
                    this.lat = data.results[0].geometry.location.lat;
                    this.lng = data.results[0].geometry.location.lng;
                    this.getFilterResults();
                    // let query={
                    //     lat:this.lat,
                    //     lng:this.lng,
                    //     category:this.category,
                    //     address:this.address,
                    //     search:this.searchText
                    // };
                    // window.location=document.head.querySelector('meta[name="app-url"]').content+"near-by?"+$.param(query);
                },
                error: err => {
                    reject(err);
                }
            });
        },
        getFilterResults() {
            let queryparams = {
                lat: this.lat,
                lng: this.lng,
                category: this.category,
                address: this.address,
                search: this.searchText,
                pstype: this.pstype,
                price: $("#price").find(".range-output").text(),
                distance:$("#dist").find(".range-output").text(),
                review: $("#rvw").find(".range-output").text()
            };
            axios
                .get("/filter.json", {
                    params: queryparams
                })
                .then(response => {
                    var newurl =
                        window.location.protocol +
                        "//" +
                        window.location.host +
                        window.location.pathname +
                        "?" +
                        $.param(queryparams);
                    window.history.pushState({ path: newurl }, "", newurl);
                    eventBus.$emit("hideLoader",{response:response.data,data:queryparams});
                    eventBus.$emit("merchants",response.data.merchants);

                });
        },
        pstypechange(){
            axios
            .get("/filtered-ps.json", {
                params: {
                    pstype: this.pstype
                }
            })
            .then(response => {
                this.categories = response.data.categories;
            });
        }
    },
    created() {
        // axios.get("filter-init.json").then(response => {
        //     this.categories = response.data.categories;
        // });
        if( this.selectedCategory != '' ){
            axios
            .get("/get-category-type.json", {
                params: {
                    sub_category_id: this.selectedCategory
                }
            })
            .then(response => {
                if( response.data.type != null){
                    this.pstype = response.data.type;

                    axios
                    .get("/filtered-ps.json", {
                        params: {
                            pstype: response.data.type
                        }
                    })
                    .then(response => {
                        this.categories = response.data.categories;
                    });
                }else{
                    this.pstype = 0;
                }
            });
        }else{
            axios
            .get("/filtered-ps.json", {
                params: {
                    pstype: this.pstype
                }
            })
            .then(response => {
                this.categories = response.data.categories;
            });
        }


        if(this.selectedCategory==""){
            this.category = "";
        }else{
             this.category=this.selectedCategory;
        }
        window.addEventListener("popstate", function(event) {
            window.location.assign(history.back());
        });
    },
    mounted() {
        this.address = this.queryAddress;
        $("#maps").val(this.queryAddress);
        
    }
};
</script>

<style></style>
