<template>
    <div>
        <div id="mapss"></div>
    </div>
</template>
<style>
#mapss {
    height: 400px;
    width: 100%;
}
</style>
<script>
import { eventBus } from "./../../app";
export default {
    props: ["lat", "lng"],
    data() {
        return {
            merchants: [],
            appUrl:document.head.querySelector('meta[name="app-url"]').content,

        };
    },
    methods: {
        initMap() {
            let vue=this;
            var map = new google.maps.Map(document.getElementById("mapss"), {
                zoom: 10,
                center: new google.maps.LatLng(this.lat, this.lng),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            //  // Create marker 
            //     var marker = new google.maps.Marker({
            //         map: map,
            //         position: new google.maps.LatLng(this.lat,this.lng),
            //         title: 'Your location',
                    
            //     });
            // Add circle overlay and bind to marker
                // var circle = new google.maps.Circle({
                // map: map,
                // radius: 16093,    // 10 miles in metres
                // fillColor: "#7270ff",
                // strokeColor: '#000',
                // strokeOpacity: 1.0,
                //  strokeWeight: 1

                // });
                // circle.bindTo('center', marker, 'position');

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < this.merchants.length; i++) {
                let merchant= this.merchants[i];
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(
                        merchant.lat,
                        merchant.lng
                    ),
                    map: map,
                    icon:this.appUrl+"public/uploads/map.png"

                });

                google.maps.event.addListener(
                    marker,
                    "click",
                    (function(marker, i) {
                        return function() {
                            infowindow.setContent(
                                `   <div style="text-align:center;" class="mrchnt_dtl">
                                    <img align="center" height="100" width="100" src="${merchant.profileURL}"></img>
                                    <h3 align="center" class="mt-3">
                                    <a href="${vue.appUrl+merchant.username}/merchant">${merchant.fullname}</a>
                                    </h3>
                                    <p>${merchant.business_name}</p>
                                    <div>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="${vue.appUrl+merchant.username}/services" class="text-dark">View Store</a>
                                    </div>
                                    `);
                            infowindow.open(map, marker);
                        };
                    })(marker, i)
                );
            }
        }
    },
    mounted() {
        console.log("Component mounted.");
        
    },
    created() {
        eventBus.$on("merchants",(merchants) => {
            this.merchants=merchants;
            let vue=this;
            google.maps.event.addDomListener(window, "load", this.initMap);
            console.log("merchants",merchants);
            vue.initMap();
        })
    }
};
</script>
