<template>
    <div id="products">
        <div class="col-md-12">
               <merchant-map :merchants="merchants" :lat="latitude" :lng="longitude"></merchant-map>
            </div>
        <template  v-if="!showloader">
            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="resto-near">
                    <h4 v-if="items.length > 0">{{data.total}} Results Found</h4>
                    <h4 v-else>No Results Found</h4>
                </div>
            </div>
            
            <div
                class="col-md-3 col-sm-6 equal-col"
                v-for="item in items"
                :key="item.id"
            >
                <div class="sl-featuredProducts--post">
                    <figure>
                        <img :src="item.ImageURL" :alt="item.name" />
                        <figcaption>
                            <div class="sl-slider__tags">
                                <span
                                href="javascript:void(0);"
                                class="sl-bg-red-orange"
                                >{{ item.distance }}
                                </span>
                            </div>
                            <a href="javascript:void(0);" @click.prevent="setFav()">
                                <i class="fa fa-heart"></i>
                            </a>
                        </figcaption>
                    </figure>
                    <div class="sl-featuredProducts--post__content">
                        <div class="sl-featuredProducts--post__title">
                            <h6>{{ item.name }}</h6>
                        </div>
                        <div class="sl-featuredProducts--post__price">
                            <h5>${{ item.price }}</h5>
                        </div>
                        <div class="sl-featureRating">
                            <div class="star-rating" >
                                <div class=" text-warning" style="color: #ffa434;">
                                <span v-if="item.avg_rating == 1">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span>
                                <span v-else-if="item.avg_rating == 2">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span>
                                <span v-else-if="item.avg_rating == 3">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span>
                                <span v-else-if="item.avg_rating == 4">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star" data-rating="3"></span>
                                    <span class="fa fa-star" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span>
                                <span v-else-if="item.avg_rating == 5">
                                    <span class="fa fa-star" data-rating="1"></span>
                                    <span class="fa fa-star" data-rating="2"></span>
                                    <span class="fa fa-star" data-rating="3"></span>
                                    <span class="fa fa-star" data-rating="4"></span>
                                    <span class="fa fa-star" data-rating="5"></span>
                                </span>
                                <span v-else>
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                </span>     
                                <input
                                    type="hidden"
                                    name="whatever1"
                                    class="rating-value"
                                    value="2.56"
                                />
                                </div>
                            </div>
                            <em>({{ item.rating_count }} Feedback)</em>
                        </div>
                        <em>
                            By:
                            <a :href="appUrl+item.vendor.username+'/services'">{{
                                item.vendor.fullname
                            }}</a>
                        </em>
                        <a class="btn sl-btn" :href="appUrl+item.slug+'/details'">View Details</a>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row " v-if="items.length!=data.total" >
                <button @click.prevent="loadMore()" ref="loadmoreBtn" type="button" class="ml-3 mt-4 btn btn-dark rounded">Load More</button>
        </div>
        </template>
        <template v-else >
             <div class="row  pt-5">
            <div class="spinner-grow m-auto " style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
           
        </div>
        </template>
    </div>
</template>
<script>
import {eventBus} from "./../../app";
import MerchantMap from "./MerchantMap.vue";
export default {
    components:{
        "merchant-map":MerchantMap
    },
    props: ["lat", "lng", "category","search","minPrice","maxPrice","auth"],
    data() {
        return {
            items: [],
            showloader:true,
            data:{},
            categorydata:this.category,
            latitude:this.lat,
            longitude:this.lng,
            appUrl:document.head.querySelector('meta[name="app-url"]').content,
            price:100,
            distance:5,
            merchants:[]
        };
    },
    methods:{
        setFav(){
            if (this.auth==true) {
                
            }else{
                swal("Info!","You need to be login to perform this action.","info");
            }
        },
        loadMore(){
            $(this.$refs.loadmoreBtn).text("Please Wait..");
            console.log(event);
            axios.get(this.data.next_page_url,{
                 params: {
                    lat: this.latitude,
                    lng: this.longitude,
                    category: this.categorydata,
                     price: this.price,
                    distance: this.distance,
                }
            }).then(response => {
                for (var i = 0; i < response.data.items.data.length; i++) {
					this.items.push(response.data.items.data[i]);
                }
              

                $(this.$refs.loadmoreBtn).text("Load More");
            });
        }
    },
    created() {
        eventBus.$on("showLoader",() => {
            this.showloader=true;
        });
        eventBus.$on("hideLoader",(data) => {
             console.log(data);
            this.showloader=false;
            this.items = data.response.items.data;
            this.data = data.response.items;
            this.categorydata=data.data.category;
            this.latitude=data.data.lat;
            this.longitude=data.data.lng;
            this.vender_id=data.data.vender_id;
            this.price=data.data.price;
            this.distance=data.data.distance;
        });
        axios.get("/near-by.json", {
                params: {
                    lat: this.latitude,
                    lng: this.longitude,
                    vendor:this.vender_id,
                    category: this.categorydata,
                   
                }
            })
            .then(response => {
                console.log(response.data);
                this.items = response.data.items.data;
                this.data = response.data.items;
                delete this.data.data;
                this.showloader=false;
                this.merchants=response.data.merchants;
                eventBus.$emit("merchants",this.merchants);
            });
    }
};
</script>
