
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ED2028;
  text-decoration: none;
}

a:hover {
  color: #f1775d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 45px;
      border-bottom: 1px solid #efefef;
}

#header.header-scrolled {
  padding: 12px 45px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #0b2341;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #0b2341;
  white-space: nowrap;
  transition: 0.3s;
      font-weight: 600;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ED2028;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #ED2028;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ef6445;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #ED2028;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0b2341;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;

}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0b2341;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ED2028;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #ED2028;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(4, 12, 21, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(4, 12, 21, 0.5);
}

#hero .carousel-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 82px;
  left: 50px;
  right: 50px;
}

#hero h2 {
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  
}

.banner-text{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    display: block;
    justify-content: center;
    top: 250px;
    bottom: 0;
}

#hero p {
  animation-delay: 0.4s;
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  #hero p {
    width: 50%;
  }
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #ED2028;
}

#hero .btn-get-started {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: #ED2028;
  margin-top: 15px;
}

#hero .btn-get-started:hover {
  background: #ef6445;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    text-align: center;
    top: 74px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f6f9fd;
}

.section-title {
  padding-bottom: 40px;
  text-align: center;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ee272f;
  font-family: 'Roboto Condensed', sans-serif;
}



.section-title p {
  margin: 0;
  font-size: 44px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  color: #242424;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
/*  padding: 20px;
  margin: 30px 15px;*/
  min-height: 200px;
 /* box-shadow: 0px 0px 20px 0px rgba(11, 35, 65, 0.1);*/
  position: relative;
  background: #fff;
}
.count-img-slider .count-img {
    width: 162px;
    text-align: center;
    margin: auto;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 16px;
    color: #1a1a1a;
    margin: 0;
    padding-top: 0px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #fdedea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
    /* font-style: italic; */
    margin: 3px auto 3px auto;
    font-size: 19px;
    color: #000;
    font-weight: 700;
}
.testimonial-item h6 {
    color: #7e7e7e;
    font-size: 15px;
    letter-spacing: 0.5px;
        font-weight: 400;
}

.testimonials .swiper-pagination {
  margin-top: 56px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ED2028;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ED2028;
}

counts {
  padding-top: 0;
}

.counts .count-box {
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    text-align: center;
}

.counts .count-box i {
    /* display: block; */
    font-size: 16px;
    color: #ED2028;
    /* float: left; */
    padding-top: 21px;
        margin-right: -3px;
}
.rating-box{
      padding-bottom: 7px;
      text-align: center;
          color: #ed2028;
}
.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #0b2341;
  margin-left: 50px;
}
.count-box{
  text-align: center;
}
.count-img-slider {
    background: #FFF3F4;
    height: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 18px;
}

.counts .count-box p {
    padding: 5px 1px 9px 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    line-height: 23px;
}

.counts .count-box a {
    display: block;
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: ease-in-out 0.3s;
    /* border: 1px solid #ccc; */
    border-radius: 50px;
    padding: 8px 14px;
    background: #ed2028;
    width: 156px;
    margin: auto;
        margin-top: 23px;
}
.counts .count-box a:hover {
    box-shadow: 3px 4px 0px #f58989;
    color: #FFF !important;
}
a.box-c img {
    color: #FFF !important;
    padding-top: 0px !important;
    width: 25px;
    margin-right: 9px;
}
.counts .count-box a:hover {
  color: #2169c4;
}

.count-box small {
    font-weight: 700;
    color: #3e3e3ecc;
    font-size: 14px;
}
.count-box h4 {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    padding-top: 8px;
}
.explore-more {
    border-radius: 39px;
    background: #ed2028;
    color: #FFF;
    padding: 11px 48px;
    box-shadow: 1px 3px 6px #939393;
    transition: 0.5s;
}

.explore-more:hover {
    box-shadow: 5px 6px 6px #939393;
    color: #FFF;
}

.video-block {
  background: black;
  width: 100%;
  padding-top: 180px;
  position: relative;
  min-height: 100vh;
  z-index: 5;
  color: white;
  text-align: center;
}

#video {
  object-fit: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: -9;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.exlpre-now {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 10px 29px;
    border-radius: 50px;
    position: relative;
    top: 34px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #333333;
  padding: 0 0 11px 0;
  color: #fff;
  font-size: 14px;
      position: relative;
}

#footer .footer-top {
  padding: 133px 0 30px 0;
      background: #333333;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #05101e;
  border-top: 4px solid #ED2028;
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 21px;
    display: inline-block;
    color: #333333;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 22px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background: #ffffff;
}

#footer .footer-top .social-links a:hover {
  color: #fff;
  background: #ED2028;
  text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding-bottom: 0px;
    text-align: center;
}
.footer-newsletter p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
}


#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ef6445;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
/*
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}*/

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ef6445;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px !important;
    background: #fff;
    padding: 9px 10px;
    position: relative;
    border-radius: 4px;
    width: 82%;
    margin: auto;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #ED2028;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ef6445;
}

#footer .copyright {
  text-align: center;
      padding-top: 10px;
 
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

.side-user img{
  width: 17px;
}

.side-user a {
    padding-left: 21px;
}

.banner-text a {
    border: 3px solid #FFF;
    color: #FFF;
    padding: 8px 35px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 17px;
    /* float: left; */
    margin: auto;
    position: relative;
    top: 26px;
}

.count-box img{
  width: 100%;
}

.count-img {
    width: 112px;
    text-align: center;
    margin: auto;
}

.section-title-about {
    padding-bottom: 40px;
    text-align: left;
}
.section-title-about p {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #242424;
}
.explore-btn {
    border-radius: 9px;
    background: #ed2028;
    color: #FFF;
    padding: 10px 52px;
    font-size: 17px;
    margin-top: 29px;
    float: left;
    transition: 0.5s;
}
.explore-btn:hover{
      box-shadow: 3px 4px 0px #f58989;
    color: #FFF !important;
}
.section-title-about h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ee272f;
    font-family: 'Roboto Condensed', sans-serif;
}
.w-cp-img img{
  width: 100%;
}
.pd-lefg {
    padding-left: 36px;
}
.font-s p{
  font-size: 18px;
}

.counts-blog{
  background-color: #FFF3F4;
}
.blog-box{
  background: #FFF;
   border-radius: 22px;
       padding: 6px;
}
.blog-img {
    padding: 10px;
   
}
.blog-img img{
  width: 100%;
}
.blog-box h3 {
    font-size: 21px;
    margin: 0;
    color: #000;
}
.blog-box p {
    font-size: 15px;
    color: #868686;
}
 .red-more-btn{
    float: right;
    font-size: 16px;
    position: relative;
    top: -3px;
    right: 10px;
}
.footer-newsletter {
    position: absolute;
    bottom: 188px;
    right: 0;
    left: 29%;
    z-index: 9;
    background: #ed2028;
    border: 2px solid #ed2028;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 1px 3px 14px #00000038;
}
.sendt-b {
    border-radius: 5px;
    background: #ed2028;
    border: 0;
    color: #FFF;
    font-size: 23px;
    padding: 1px 8px;
    position: absolute;
    margin: -4px -1px -3px 77px;
}



#formContent {
/*  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;*/
  background: #fff;
/*  padding: 30px;*/
  width: 100%;
  max-width: 450px;
  position: relative;
  padding: 0px;
 /* -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
  text-align: center;
}

#formFooter {
 /* background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;*/
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.login-from input[type=button],.login-from input[type=submit],.login-from input[type=reset]  {
  background-color: #ed2028;
  border: none;
  color: white;
  padding: 12px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
 /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;*/
  border-radius: 5px 5px 5px 5px;
  margin: 28px 20px 8px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login-from input[type=button]:hover,.login-from input[type=submit]:hover,.login-from input[type=reset]:hover  {

    box-shadow: 3px 4px 0px #f58989;
    color: #FFF !important;

}

.login-from input[type=button]:active,.login-from input[type=submit]:active,.login-from input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login-from input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 14px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login-from input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #F44336;
}

.login-from input[type=text]:placeholder {
  color: #cccccc;
}
.login-pad{
  padding: 35px;
}
.login-pad .login-from input{
  margin-bottom: 15px;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ed2028;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:30%;
}

.first h1 {
    font-size: 27px;
    padding-bottom: 14px;
    padding-top: 10px;
}
.rember{
      color: #444 !important;
    font-size: 15px;
}

.fort-pass a{
color: #ED2028 !important;
}

/**********forgot pass****************/

.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
/*.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}*/
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnForget{
    background: #c0392b;
    border:none;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 100%;
}
.forget-password .dropdown ul{
    width: 100%;
}

.btnForget{
  border-radius: 6px;
    background: #ed2028;
    color: #FFF;
    padding: 10px 52px;
    font-size: 17px;
    margin-top: 29px;
    transition: 0.5s;
}

.btnForget:hover {
    box-shadow: 3px 4px 0px #f58989;
    color: #FFF !important;
    background: #ed2028;
}

#forgetAnswer {
    height: 50px;
    border-radius: 4px;
}

/**************product*******************/

.prodcut-box img{
width: 230px;
}

.prodcut-box {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid #ececec;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.prodcut-details h5{
  color: #444444;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0 0 11px 0;
    text-decoration: none;
    display: block;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.02rem;
}

.prodcut-details p {
    margin-bottom: 0px;
    color: #777;
    font-size: 16px;
    letter-spacing: 0;
    word-break: break-all;
    line-height: 1.7;
}
.prodcut-details h6 {
    color: #7e7e7e;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.prodcut-details .rating-box {
    padding-bottom: 7px;
    text-align: left;
    color: #ed2028;
}
.pro-descrip {
    display: flex;
    justify-content: space-between;
}
.prodcut-details h3 {
    font-size: 30px;
    color: #ed2028;
    padding-top: 11px;
    padding-bottom: 10px;
}
.stock-c label {
    color: #00b10f;
}
.description_section button {
    border: 1px solid #ed2028;
    padding: 2px 12px;
    font-size: 21px;
    font-weight: bold;
    background: #ed2028;
    color: #FFF;
        border-radius: 3px;
}
.description_section input {
    height: 37px;
    width: 89px;
    text-align: center;
    border: 1px solid #ccc;
}

.description_section{
  display: flex;
  align-items: center;
}

.description_section span{
  margin-right: 10px;
}

.explore-btn-cart {
    border-radius: 5px;
    background: #ed2028;
    color: #FFF;
    padding: 10px 52px;
    font-size: 17px;
    margin-top: 29px;
    float: left;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.explore-btn-cart i {
    font-size: 24px;
    margin-right: 10px;
}

.explore-btn-cart:hover {
    box-shadow: 3px 4px 0px #f58989;
    color: #FFF !important;
}
.qty{
  display: flex;
  align-items: center;
}
.p-5-a {
    padding-bottom: 132px;
}

.testimonials .testimonial-wrap {
    padding-left: 3px;
}
.testimonials-p{

}

.count-img-slider-a .count-img {
    width: 56px;
    text-align: center;
    margin: auto;
}

.cart-wrap {
  padding: 40px 0;
  font-family: 'Open Sans', sans-serif;
}
.main-heading {
  font-size: 19px;
  margin-bottom: 20px;
}
.table-cart table {
    width: 100%;
}
.table-cart thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-cart thead tr th {
    padding: 16px 0 16px;
    color: #484848;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.table-cart tr td {
    padding: 40px 0 27px;
    vertical-align: middle;
}
.table-cart table > tbody > tr > td{
  border-left: 1px solid #e7e7e7;
}
.table-cart tr td:nth-child(1) {
    width: 40%;
}
.table-cart tr td:nth-child(2) {
    width: 15%;
}
.table-cart tr td:nth-child(3) {
    width: 19.333%;
}
.table-cart tr td:nth-child(4) {
    width: 16.667%;
    text-align: right;
}
.table-cart tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-cart tr td .img-product img {
  width: 100%;
}
.table-cart tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-cart tr td .price {
    text-align: right;
    line-height: 64px;
    margin-right: 40px;
    color: #989898;
    font-size: 16px;
    font-family: 'Nunito';
}
.table-cart tr td .quanlity {
    position: relative;
}
.product-count .qtyminus,
.product-count .qtyplus {
  width: 34px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 19px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.product-count .qtyminus {
    line-height: 32px;
}
.product-count .qtyminus {
  border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0; 
}
.product-count .qty {
  width: 60px;
  text-align: center;
  border: none;
}
.count-inlineflex {
  display: inline-flex;
  border: solid 1px #ccc;
  border-radius: 4px;  
}
.product-count{
  text-align: center;
}
.total {
  font-size: 17px;
  font-weight: 600;
  color: #ed2028;
  text-align: center;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.coupon-box {
    padding: 63px 0 58px;
    text-align: center;
    border: 2px dotted #e5e5e5;
    border-radius: 10px;
    margin-top: 55px;
}
.coupon-box form input {
    display: inline-block;
    width: 264px;
    margin-right: 13px;
    height: 44px;
    border-radius: 25px;
    border: solid 2px #cccccc;
    padding: 5px 15px;
    font-size: 14px;
}
input:focus {
  outline: none;
  box-shadow: none;
}
.round-black-btn {
    border-radius: 25px;
    background: #ffffff;
    color: #ee2b33;
    padding: 8px 35px;
    display: inline-block;
    border: solid 2px #ee3139;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;

}
.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #FFF;
  text-decoration: none;
    border: solid 2px #FFF;
}
.cart-totals {
    border-radius: 9px;
    background: #ee2b33;
    padding: 25px;
    width: 350px;
    float: right;
    border: 2px solid #ee2b33;
    color: #FFF;
        margin-top: 14px;

    box-shadow: 1px 5px 11px #b1b1b1cc;
}
.cart-totals h3 {
  font-size: 21px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 500;
}
.cart-totals table {
  width: 100%;
}
.cart-totals table tr th,
.cart-totals table tr td {
  width: 50%;
    padding: 3px 0;
    vertical-align: middle;
}
.cart-totals table tr td:last-child {
  text-align: right;
}
.cart-totals table tr td.subtotal {
  font-size: 18px;
    color: #FFF;
}
.cart-totals table tr td.free-shipping {
  font-size: 14px;
    color: #FFF;
}
.cart-totals table tr.total-row td {
  padding-top: 25px;
}
.cart-totals table tr td.price-total {   
  font-size: 18px;
    font-weight: 600;
    color: #ed2028;
}
.btn-cart-totals {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 20px;

}
.btn-cart-totals .round-black-btn {
  margin: 10px 0; 
}
.table-cart tr{
  border: 1px solid #ebebeb;
}
.table-cart table > thead > tr > th{
      border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.pro-descrip p b{
      font-weight: 500;

}
.product-slider img{
  width: 185px;
  margin: auto;
 
}
.product-slider .swiper-slide {
    text-align: center;
    border: 1px solid #efefef;
    padding: 31px;
    border-radius: 6px;
}
.product-thumbs .swiper-slide img {
  border:2px solid transparent;
  object-fit: cover;
  cursor: pointer;
}
.product-thumbs .swiper-slide-active img {
  
}
.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.product-thumbs img{
  width: 70px;
}
.product-thumbs {
  padding-top: 25px;
}

.product-thumbs .swiper-slide {
    text-align: center;
    border: 1px solid #e1e1e1;
    margin-right: 6px;
}
