body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ED2028;
  text-decoration: none;
}

a:hover {
  color: #f1775d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 1px 1px;
  border-bottom: 1px solid #f6f6f6;
}

.navbar ul li:hover {
  border-bottom: 2px solid #ed2028;
}

.navbar ul li {
  border-bottom: 2px solid #FFF;
  transition: 0.5s;
}

#header.header-scrolled {
  padding: 0px 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar ul li.arch-remove:hover{
border-bottom: 2px solid #FFF;
}


a.ropd-nav{
      background-color: #ed1c24;
    color: #fff !important;
    position: relative;
    text-transform: capitalize;
    border: 1px solid #ed1c24;
    transition: 0.5s;
    font-size: 14px;
    padding: 6px !important;
    border-radius: 3px !important;
}
a.ropd-nav:hover{
  border: 1px solid #ed1c24;
  color: #ed1c24 !important;
  background-color: #FFF !important;

  }

  .navbar ul li.login-aft:hover{
border-bottom: 2px solid #FFF;
  }

#header .logo {
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #0b2341;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 15px 24px 20px;
  font-size: 14px;
  color: #0b2341;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 600;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ED2028;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #ED2028;
  padding: 6px 13px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

#listviewscroll a {
  float: left;
  width: 100%;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff !important;
  background: #f1040e;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #ED2028;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0b2341;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 9999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;

}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 2px;
  font-size: 15px;
  color: #0b2341;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ED2028;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #ED2028;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 550px;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/*
#hero .carousel-item::before {
  content: "";
  background-color: rgba(4, 12, 21, 0.5);
}*/

#hero .carousel-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 82px;
  left: 50px;
  right: 50px;
}

#hero h2 {
  color: #fff;
  margin: 0;
  font-size: 48px;
  font-weight: 700;

}

.banner-text {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  display: block;
  justify-content: center;
  top: 250px;
  bottom: 0;
}

#hero p {
  animation-delay: 0.4s;
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  #hero p {
    width: 50%;
  }
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #ED2028;
}

#hero .btn-get-started {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: #ED2028;
  margin-top: 15px;
}

#hero .btn-get-started:hover {
  background: #ef6445;
}

@media (max-width: 992px) {
  #hero {
    /*height: 100vh;*/
    height: 400px;
  }

  #hero .carousel-container {
    text-align: center;
    top: 74px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 250vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f6f9fd;
}

.section-title {
  padding-bottom: 25px;
  text-align: center;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ee272f;
  font-family: 'Open Sans', sans-serif !important;
}



.section-title p {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif !important;
  color: #242424;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  /*  padding: 20px;
  margin: 30px 15px;*/
  min-height: 200px;
  /* box-shadow: 0px 0px 20px 0px rgba(11, 35, 65, 0.1);*/
  position: relative;
  background: #fff;
}

.count-img-slider .count-img {
  width: 100%;
  text-align: center;
  margin: auto;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 15px;
  color: #1a1a1a;
  margin: 0;
  padding-top: 14px;
}

.pro-event a {
  background: #ED2028;
  padding: 6px 30px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #fdedea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  /* font-style: italic; */
  margin: 3px auto 3px auto;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 14px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.testimonial-item h6 {
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.testimonials .swiper-pagination {
  margin-top: 56px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ED2028;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ED2028;
}

counts {
  padding-top: 0;
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  text-align: center;
}

.counts .count-box i {
  /* display: block; */
  font-size: 16px;
  color: #ED2028;
  /* float: left; */
  padding-top: 21px;
  margin-right: -3px;
}

.rating-box {
  padding-bottom: 7px;
  text-align: left;
  color: #ed2028;
  margin-top: 6px;
  margin-left: 4px;
  display: flex;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #0b2341;
  margin-left: 50px;
}

.count-box {
  text-align: left;
  padding: 12px 16px;
  box-shadow: 1px 2px 17px #cccccc99;
  width: 100%;
  border-radius: 7px;
}

.count-box-pr {
  text-align: left;
  /* padding: 10px 16px;*/
  box-shadow: 1px 2px 17px #cccccc99;
  width: 100%;
}

.count-box-pr img {
  width: 100%;
}


.re-b-more a {
  background: #FFF;
  padding: 8px 38px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 19px;
  color: #ed2028;
  border: 2px solid #ed2028;
}

.count-img-slider {
  background: #FFF3F4;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.count-box p {
  width: 100%;
  height: 29px;
  line-height: 29px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 600;
  color: #000;
  margin: 0px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif !important;
}

.counts .count-box a {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif !important;
  transition: ease-in-out 0.3s;
  /* border: 1px solid #ccc; */
  border-radius: 50px;
  padding: 8px 14px;
  background: #ed2028;
  width: 156px;
  margin: auto;
  margin-top: 23px;
}

.counts .count-box a:hover {
  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;
}

a.box-c img {
  color: #FFF !important;
  padding-top: 0px !important;
  width: 25px;
  margin-right: 9px;
}

.counts .count-box a:hover {
  color: #2169c4;
}

.count-box small {
  font-weight: 600;
  color: #363636cc;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif !important;
}

.count-box h4 {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  padding-top: 8px;
}

.explore-more {
  border-radius: 39px;
  background: #ed2028;
  color: #FFF;
  padding: 11px 48px;
  box-shadow: 1px 3px 6px #939393;
  transition: 0.5s;
}

.explore-more:hover {
  box-shadow: 5px 6px 6px #939393;
  color: #FFF;
}

.video-block {
  background: black;
  width: 100%;
  /*  padding-top: 180px;*/
  position: relative;
  height: 500px;
  z-index: 5;
  color: white;
  text-align: center;
}

.conpmy-name i {
  font-size: 19px;
  margin-right: 3px;
}

.conpmy-name h6 {
  margin: 0;
  line-height: 26px;
  font-size: 13px;
  color: #000;
  display: flex;
  align-items: center;
}

.conpmy-name {
  margin-top: 10px;
}

#video {
  object-fit: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: -9;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.exlpre-now {
  color: #FFF;
  border: 2px solid #FFF;
  padding: 10px 29px;
  border-radius: 50px;
  position: relative;
  top: 34px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  padding: 38px 0 30px 0;
  background: #ffffff;
  border-top: 2px solid #ededed;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #05101e;
  border-top: 4px solid #ED2028;
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif !important;
}

#footer .footer-top .social-links a {
  font-size: 22px;
  display: inline-block;
  color: #333333;
  line-height: 1;
  padding: 8px 0;
  margin-right: -6px;
  /* border-radius: 22px; */
  text-align: center;
  width: 34px;
  height: 32px;
  transition: 0.3s;
  /* background: #ffffff; */
}

a.ropd-nav:hover, a.ropd-nav:focus{
color: #FFF !important;
background-color: #ed1c24 !important;
}
.navbar ul li ul li:hover {
    border-bottom: 2px solid #FFF;
    background: #f4f5f9;
}

li.login-aft ul a{
    padding: 5px 16px !important;
}

.hed-map {
 /*   border: 1px solid #E8E8E8;*/
    padding: 10px;
    border-radius: 9px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #282828;
    position: relative;
    left: 10px;
    cursor: pointer;
    top: 11px;
}

.hed-map i {
    font-size: 15px;
    margin-right: 2px;
    color: #ed2028;
}

#footer .footer-top .social-links a:hover {
  color: #eb2028;
  /* background: #ED2028; */
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-bottom: 0px;
  text-align: center;
}

.footer-newsletter p {
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
}


#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ef6445;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

/*
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}*/

#footer .footer-top .footer-links ul a {
  color: #333;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ef6445;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px !important;
  background: #fff;
  padding: 9px 10px;
  position: relative;
  border-radius: 4px;
  width: 82%;
  margin: auto;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #ED2028;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ef6445;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;

}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

.side-user img {
  width: 17px;
}

.side-user a {
  padding-left: 21px;
}

.banner-text a {
  border: 3px solid #FFF;
  color: #FFF;
  padding: 8px 35px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 17px;
  /* float: left; */
  margin: auto;
  position: relative;
  top: 26px;
}

.count-box img {
  width: 100%;
}

.count-img {
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 26px;
    height: 150px;
    overflow: hidden;
}

.section-title-about {
  padding-bottom: 40px;
  text-align: left;
}

.section-title-about p {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif !important;
  color: #242424;
}

.explore-btn {
  border-radius: 9px;
  background: #ed2028;
  color: #FFF;
  padding: 10px 52px;
  font-size: 17px;
  margin-top: 29px;
  float: left;
  transition: 0.5s;
}

.explore-btn:hover {
  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;
}

.section-title-about h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ee272f;
  font-family: 'Open Sans', sans-serif !important;
}

.w-cp-img img {
  width: 100%;
}

.pd-lefg {
  padding-left: 36px;
}

.font-s p {
  font-size: 18px;
}

.counts-blog {
  background-color: #FFF3F4;
}

.blog-box {
  background: #FFF;
  border-radius: 22px;
  padding: 6px;
}

.blog-img {
  padding: 10px;

}

.blog-img img {
  width: 100%;
}

.blog-box h3 {
  font-size: 21px;
  margin: 0;
  color: #000;
}

.blog-box p {
  font-size: 15px;
  color: #868686;
}

.red-more-btn {
  float: right;
  font-size: 16px;
  position: relative;
  top: -3px;
  right: 10px;
}

.footer-newsletter {
  position: absolute;
  bottom: 188px;
  right: 0;
  left: 29%;
  z-index: 9;
  background: #ed2028;
  border: 2px solid #ed2028;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 1px 3px 14px #00000038;
}

.sendt-b {
  border-radius: 5px;
  background: #ed2028;
  border: 0;
  color: #FFF;
  font-size: 24px;
  padding: 1px 11px;
  position: absolute;
  margin: -5px -2px 1px 72px;
}



#formContent {
  /*  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;*/
  background: #fff;
  /*  padding: 30px;*/
  width: 100%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  /* -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
  text-align: center;
}

#formFooter {
  /* background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;*/
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.login-from input[type=button],
.login-from input[type=submit],
.login-from input[type=reset] {
  background-color: #ed2028;
  border: none;
  color: white;
  padding: 12px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;*/
  border-radius: 5px 5px 5px 5px;
  margin: 28px 20px 8px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login-from input[type=button]:hover,
.login-from input[type=submit]:hover,
.login-from input[type=reset]:hover {

  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;

}

.login-from input[type=button]:active,
.login-from input[type=submit]:active,
.login-from input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login-from input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 14px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login-from input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #F44336;
}

.login-from input[type=text]:placeholder {
  color: #cccccc;
}

.login-pad {
  padding: 35px;
}

.login-pad .login-from input {
  margin-bottom: 15px;
}

.select-cust select {
  padding: 18px;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 4px !important;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ed2028;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}


/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 30%;
}

.first h1 {
  font-size: 27px;
  padding-bottom: 14px;
  padding-top: 10px;
}

.rember {
  color: #444 !important;
  font-size: 15px;
}

.fort-pass a {
  color: #ED2028 !important;
}

.login-from input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 14px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login-from input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 14px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login-pad .error {
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
  line-height: 18px;
  width: 100%;
  padding-bottom: 13px;
  color: #ed2028;
}

.login-pad .success_msg .alert-success {
  color: #09b708;
  background: transparent;
  border: aliceblue;
  font-size: 19px;
  font-weight: 500;
  padding: 0;

}

/**********forgot pass****************/

.forget-pwd>a {
  color: #dc3545;
  font-weight: 500;
}

/*.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}*/
.forget-password .panel-body {
  padding: 15%;
  margin-bottom: -50%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnForget {
  background: #c0392b;
  border: none;
}

.forget-password .dropdown {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.forget-password .dropdown button {
  width: 100%;
}

.forget-password .dropdown ul {
  width: 100%;
}

.btnForget {
  border-radius: 6px;
  background: #ed2028;
  color: #FFF;
  padding: 10px 52px;
  font-size: 17px;
  margin-top: 29px;
  transition: 0.5s;
}

.btnForget:hover {
  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;
  background: #ed2028;
}

#forgetAnswer {
  height: 50px;
  border-radius: 4px;
}

/**************product*******************/

.prodcut-box img {
  width: 230px;
}

.prodcut-box {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 1px solid #ececec;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.prodcut-details h5 {
  color: #444444;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0 0 11px 0;
  text-decoration: none;
  display: block;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.02rem;
}

.prodcut-details p {
  margin-bottom: 0px;
  color: #777;
  font-size: 16px;
  letter-spacing: 0;
  word-break: break-all;
  line-height: 1.7;
}

.prodcut-details h6 {
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.prodcut-details .rating-box {
  padding-bottom: 7px;
  text-align: left;
  color: #ed2028;
}

.pro-descrip {
  display: flex;
  justify-content: space-between;
}

.prodcut-details h3 {
  font-size: 30px;
  color: #ed2028;
  padding-top: 11px;
  padding-bottom: 10px;
}

.stock-c label {
  color: #00b10f;
}

.description_section button {
  border: 1px solid #ed2028;
  padding: 2px 12px;
  font-size: 21px;
  font-weight: bold;
  background: #ed2028;
  color: #FFF;
  border-radius: 3px;
}

.description_section input {
  height: 37px;
  width: 89px;
  text-align: center;
  border: 1px solid #ccc;
}

.description_section {
  display: flex;
  align-items: center;
}

.description_section span {
  margin-right: 10px;
}

.explore-btn-cart {
  border-radius: 5px;
  background: #ed2028;
  color: #FFF;
  padding: 10px 52px;
  font-size: 17px;
  margin-top: 29px;
  float: left;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.explore-btn-cart i {
  font-size: 24px;
  margin-right: 10px;
}

.explore-btn-cart:hover {
  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;
}

.qty {
  display: flex;
  align-items: center;
}

.p-5-a {
  padding-bottom: 132px;
}

.testimonials .testimonial-wrap {
  padding-left: 3px;
}

.testimonials-p {}

.count-img-slider-a .count-img {
  width: 56px;
  text-align: center;
  margin: auto;
}

.cart-wrap {
  padding: 40px 0;
  font-family: 'Open Sans', sans-serif;
}

.main-heading {
  font-size: 19px;
  margin-bottom: 20px;
}

.table-cart table {
  width: 100%;
}

.table-cart thead {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5px;
}

.table-cart thead tr th {
  padding: 16px 0 16px;
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.table-cart tr td {
  padding: 40px 0 27px;
  vertical-align: middle;
}

.table-cart table>tbody>tr>td {
  border-left: 1px solid #e7e7e7;
}

.table-cart tr td:nth-child(1) {
  width: 40%;
}

.table-cart tr td:nth-child(2) {
  width: 15%;
}

.table-cart tr td:nth-child(3) {
  width: 19.333%;
}

.table-cart tr td:nth-child(4) {
  width: 16.667%;
  text-align: right;
}

.table-cart tr td .img-product {
  width: 72px;
  float: left;
  margin-left: 8px;
  margin-right: 31px;
  line-height: 63px;
}

.table-cart tr td .img-product img {
  width: 100%;
}

.table-cart tr td .name-product {
  font-size: 15px;
  color: #484848;
  padding-top: 8px;
  line-height: 24px;
  width: 50%;
}

.table-cart tr td .price {
  text-align: right;
  line-height: 64px;
  margin-right: 40px;
  color: #989898;
  font-size: 16px;
  font-family: 'Nunito';
}

.table-cart tr td .quanlity {
  position: relative;
}

.product-count .qtyminus,
.product-count .qtyplus {
  width: 34px;
  height: 34px;
  background: transparent;
  text-align: center;
  font-size: 19px;
  line-height: 34px;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}

.product-count .qtyminus {
  line-height: 32px;
}

.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}

.product-count .qty {
  width: 60px;
  text-align: center;
  border: none;
}

.count-inlineflex {
  display: inline-flex;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.product-count {
  text-align: center;
}

.total {
  font-size: 17px;
  font-weight: 600;
  color: #ed2028;
  text-align: center;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.coupon-box {
  padding: 63px 0 58px;
  text-align: center;
  border: 2px dotted #e5e5e5;
  border-radius: 10px;
  margin-top: 55px;
}

.coupon-box form input {
  display: inline-block;
  width: 264px;
  margin-right: 13px;
  height: 44px;
  border-radius: 25px;
  border: solid 2px #cccccc;
  padding: 5px 15px;
  font-size: 14px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.round-black-btn {
  border-radius: 25px;
  background: #ffffff;
  color: #ee2b33;
  padding: 8px 35px;
  display: inline-block;
  border: solid 2px #ee3139;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;

}

.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #FFF;
  text-decoration: none;
  border: solid 2px #FFF;
}

.cart-totals {
  border-radius: 9px;
  background: #ee2b33;
  padding: 25px;
  width: 350px;
  float: right;
  border: 2px solid #ee2b33;
  color: #FFF;
  margin-top: 14px;
  box-shadow: 1px 5px 11px #b1b1b1cc;
}

.cart-totals h3 {
  font-size: 21px;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 500;
}

.cart-totals table {
  width: 100%;
}

.cart-totals table tr th,
.cart-totals table tr td {
  width: 50%;
  padding: 3px 0;
  vertical-align: middle;
}

.cart-totals table tr td:last-child {
  text-align: right;
}

.cart-totals table tr td.subtotal {
  font-size: 18px;
  color: #FFF;
}

.cart-totals table tr td.free-shipping {
  font-size: 14px;
  color: #FFF;
}

.cart-totals table tr.total-row td {
  padding-top: 25px;
}

.cart-totals table tr td.price-total {
  font-size: 18px;
  font-weight: 600;
  color: #ed2028;
}

.btn-cart-totals {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 20px;

}

.btn-cart-totals .round-black-btn {
  margin: 10px 0;
}

.table-cart tr {
  border: 1px solid #ebebeb;
}

.table-cart table>thead>tr>th {
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.pro-descrip p b {
  font-weight: 500;

}

.product-slider img {
  width: 185px;
  margin: auto;

}

.product-slider .swiper-slide {
  text-align: center;
  border: 1px solid #efefef;
  padding: 31px;
  border-radius: 6px;
}

.product-thumbs .swiper-slide img {
  border: 2px solid transparent;
  object-fit: cover;
  cursor: pointer;
}

.product-thumbs .swiper-slide-active img {}

.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.product-thumbs img {
  width: 70px;
}

.product-thumbs {
  padding-top: 25px;
}

.product-thumbs .swiper-slide {
  text-align: center;
  border: 1px solid #e1e1e1;
  margin-right: 6px;
}

/************checkout***********/

.checkout .form-group input {
  background: #fff;
  border: 1px solid #ececec;
  height: 64px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}

.checkout .form-group {
  margin-bottom: 1rem;
}

.checkout textarea {
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  width: 100%;
  min-height: 200px;
}

.checkout .custom_select select {
  border: 1px solid #ececec;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 14px;
}

.order-md-1 h4.mb-3 {
  margin-top: 15px;
}

.order-md-1 {
  padding: 30px;
  background-color: #ffffff;
  /* border: 3px solid #ee2931; */
  border-radius: 6px;
  box-shadow: 0px 3px 14px #6262622b;
}

.order-md-1 form.needs-validation label {
  font-size: 14px;
  margin-bottom: 6px;
}

.checkout .form-control {
  font-size: 14px;
}

.order-md-1 form.needs-validation {
  padding: 15px;
  background-color: unset;
  padding-left: 0px;
  padding-right: 0px;
}

.dadrs {
  display: flex;
  justify-content: space-between;
}

section.section-full.checkuot_Sec .order-md-1 .text-center {
  padding: 0px !important;
}

section.section-full.checkuot_Sec .order-md-1 .text-center h2 {
  text-align: left;
  margin-bottom: 0;
  font-size: 16px;
  background-color: #231f20;
  padding: 10px;
  color: #fff;
}

.order-md-1 h4.mb-3 {
  text-align: left;
  margin-bottom: 13px !important;
  font-size: 20px;
  /* background-image: linear-gradient(to right, #ed1c24 , #F7FF0A ) !important; */
  padding: 10px;
  color: #000;
  margin-top: 0px;
  background-color: unset;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 0px;
  border-bottom: 1px solid #ddd;
}

.order-md-1 form.needs-validation .form-control {
  height: 48px;
  border-radius: 4px;
}

.order-md-1 form.needs-validation .custom-select {

  font-size: 13px;
  height: 48px;
  border-radius: 3px;
}

.custom-control.custom-radio {
  margin-bottom: 10px;
}

.custom-control.custom-radio label.custom-control-label {
  font-size: 14px;
  padding-left: 10px;
}

.custom-control.custom-radio label.custom-control-label:before {
  width: 14px;
  height: 14px;
  border-color: #231f20;
  background-color: #231f20;
}

.custom-control.custom-radio label.custom-control-label:after {
  background-size: 8px;
  top: 5px;
  left: -13px;
}

button.btn.btn-primary.btn-lg.btn-block {
  background-color: #ed1c24;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 14px;
  opacity: 1;
  border: 1px solid #ed1c24;
}

button.btn.btn-primary.btn-lg.btn-block:hover {
  color: #ed1c24 !important;
  background-color: #fff !important;
  border: 1px solid #ed1c24 !important;
}

.orderSumery {}

.orderSumery .justify-content-between {
  border: 0px;
  padding: 3px;
}

.orderSumery h4.d-flex.justify-content-between.align-items-center.mb-3 {
  /*background-image: linear-gradient(to right, #ed1c24 , #F7FF0A ) !important;*/
  padding: 10px;
  margin-bottom: 0px !important;
  background-color: unset !important;
}

.orderSumery h4.d-flex.justify-content-between.align-items-center.mb-3 span.text-muted {
  font-size: 16px;
  font-weight: 500;
  color: #000 !important;
  text-transform: capitalize;
}

.list-group-item {
  background-color: unset !important;
}

.orderSumery .justify-content-between span.text-muted {
  color: #231F20 !important;
  text-transform: capitalize;
  font-weight: 600;
}

ul.orderSumeryBox small.text-muted {
  color: #231F20 !important;
  text-transform: capitalize;
  font-weight: 600;

}

.produt-total p {
  font-size: 14px;
}

.orderSumery li.list-group-item.d-flex.justify-content-between.bg-light small {
  font-size: 13px;
  font-weight: 600;
}

.orderSumery li.list-group-item.d-flex.justify-content-between.bg-light span.text-success {
  font-size: 13px;
  font-weight: 600;
}

li.list-group-item.d-flex.justify-content-between.fulTotal span {
  font-weight: 700;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1px;
}

li.list-group-item.d-flex.justify-content-between.fulTotal strong {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal;
}

.myOrderPay {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
}

#sticky {
  position: sticky;
  top: 0px;
  padding: 17px;
  background-color: #FFF;
  border: 3px solid #ffffff;
  box-shadow: 0px 3px 14px #6262622b;
  min-height: 100px;
  float: left;
}

.thnxMsgSec.text-center i {
  font-size: 20px;
  line-height: 10px !important;
  margin: 0px;
}

.thnxMsgSec.text-center {}

#dropcheck {
  margin-right: 10px;
}

.checkout .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(245 245 245);
}

.thnxMsgSec.text-center span {
  background: linear-gradient(to right, #93291E, #ED213A) !important;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  display: inline-block;
  margin: auto;
  margin-bottom: 25px;
  color: #fff;
  line-height: 45px;
}

.thnxMsgSec.text-center h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}

.thnxMsgSec.text-center p {
  margin-bottom: 30px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1px;
}

.ordrSumry {
  float: left;
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  min-height: 310px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ordrSumry span.thnx_head {
  float: left;
  margin-right: 10px;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 20px;
}

.ordrSumry h4 {
  margin-top: 4px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1px;
}

.addresss strong {
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1px;
}

.addresss span {
  float: left;
  width: 100%;
  font-size: 15px;
  /* font-weight: 600; */
  margin-bottom: 3px;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1px;
  /* font-weight: bold; */
}

.produt-total h3 {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}

.orderSumery .input-group .btn {
  position: relative;
  z-index: 2;
  background: #ed1c24;
  border: 1px solid #ed1c24;
  border-radius: 0;
}

#coupon_form {
  border: none;
}

.cnt_shop {
  text-align: center;
  width: 100%;
  float: left;
  background: #ed1c24;
  /* color: #FFF; */
  padding: 10px;
  border-radius: 4px;
}

.cnt_shop a {
  color: #FFF;
}

.sendt-b i {
  transform: rotate(326deg);
}

/***********************/

.searchbar {
  margin-top: -30px;
  height: 46px;
  background-color: #FFF;
  border-radius: 30px;
  padding: 3px;
  position: absolute;
  right: 128px;
  border: 1px solid #e5e4e4;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 180px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.detai-tab .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
  background: #333333;
  color: #fff;
}

.detai-tab .font-weight-lighter {
  font-weight: 300;
  background: #0099D5;
  color: #fff;
}

.inv {
  /* background: #E6E4E7; */
  border: 1px solid #E6E4E7;
  border-radius: 4px;
}

.border-bottom {
  border-bottom: 2px solid #000 !important;
  /*width: 35%;*/
  padding: 0px 0px 5px 0px;
}

@media (min-width: 992px) {
  .store-list .col-lg-3 {
    flex: 0 0 auto;
    width: 20%;
  }
}

.thanky h2 {
  font-size: 40px;
}

.thanky p {
  font-size: 16px;
}

/***************/

.contact-file .form-control {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 9px;
}

.contact-file .form-control:focus {
  box-shadow: none;
  border: 1px solid #ed2028;
}

.contact-file .text-black {
  font-size: 15px;
  padding-bottom: 5px;
}

.cnt-btn {
  border-radius: 6px;
  background: #ed2028;
  color: #FFF;
  padding: 10px 52px;
  font-size: 17px;
  margin-top: 2px;
  float: left;
  transition: 0.5s;
  border: 1px solid #ed2028;
}

.cnt-btn:hover {
  box-shadow: 3px 4px 0px #f58989;
  color: #FFF !important;
  background: #ed2028 !important;
  border: 1px solid #ed2028;
}

h3.head_cont_her {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
}

.cnt-p p {
  margin-bottom: 2px;
}

.cnt-p i {
  font-size: 22px;
  margin-right: 9px;
  color: #ed242c;
}

.cnt-p a {
  color: #444;
}

.cnt-p {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 16px 11px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.mr-5a {
  margin-right: 8px;
}


/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#demo-2 input[type=search]:hover {
  background-color: #fff;
}

#demo-2 input[type=search]:focus {
  width: 130px;
  padding-right: 32px;
  padding-left: 10px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#demo-2 input:-moz-placeholder {
  color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}


#demo-2 input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#demo-2 input::-webkit-search-decoration,
#demo-2 input::-webkit-search-cancel-button {
  display: none;
}

#demo-2 input[type=search] {
  padding: 8px 1px 7px 2px;
  width: 34px;
  background: #ffffff url(https://heymobie.com/happystash/public/assets/img/search.png) no-repeat 9px center;
  border: solid 1px #fff;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  background-size: 19px;
  background-position: right 11px bottom 8px;
  text-align: left;
}

#demo-2 input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #ed2028;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgb(248 173 175);
}

#demo-2 {
  position: relative;
  /* top: -9px; */
  right: -13px;
}

/**********logo header***********/

.w-50-logo {
  width: 35%;
}

.w-50-bk {
  width: 65%;
}

.side-user {
  display: flex;
}

li.float-right-bar {
  position: absolute;
  right: 0;
}
.curent-locat{
  display: flex;
  justify-content: center;
}

.log-locaton{
      display: flex;
      align-items: center;
}

li.cart_icon_sec {
    color: #fff;
    top: 4px;
    position: relative;
}
.ando-p {
    padding-right: 3px !important;
    display: flex;
}
.cart-vx {
    width: 30px;
    position: relative;
    bottom: 5px;
    left: -9px;
}
.site-logo {
    position: relative;
    left: 0;
    top: 4px;
    text-transform: uppercase;
}
span#session_qty {
    position: absolute;
    right: -2px;
    top: 12px;
}
li.cart_icon_sec {
    color: #fff;
    top: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.carousel {
    position: relative;
    padding-top: 53px;
}

@media (min-width: 768px) and (max-width: 1024px) {
.merchnt .col-md-3 {
    flex: 0 0 auto;
    width: 32% !important;
    margin-bottom: 23px;
}
}

@media (min-width: 1700px) and (max-width: 4000px) {
.product-bann .carousel-item img {
    height: inherit !important;
   
}
.merchnt .col-md-3 {
    flex: 0 0 auto;
    width: 16% !important;
    margin-bottom: 23px;
}
.product-bann .carousel-item img{
    height: inherit !important;
  }
.welcome-area div#map {
    height: 700px !important;
}

  }

  @media (min-width: 2400px) and (max-width: 5000px) {
.merchnt .col-md-3 {
    flex: 0 0 auto;
    width: 10% !important;
    margin-bottom: 23px;
}
.filter-map{
  width: inherit !important;
  }
  .product-bann .carousel-item img{
    height: inherit !important;
  }
  .welcome-area div#map {
    height: 700px !important;
}
  }

@media (min-width: 320px) and (max-width: 767px) {
 .side-user {
    display: flex;
   /* float: right;*/
    z-index: 9;
    top: 13px;
    /* margin-top: 80px; */
   /* margin: 30% 3% 1% 7%;*/
}



#cloginurl{

}
span#session_qty {
    position: absolute;
    right: -11px;
    top: -5px !important;
}

.navbar-mobile li:nth-child(6){
 margin-bottom: 8px;
}


.navbar ul li {
    border-bottom: 2px solid #FFF;
    transition: 0.5s;
    margin-bottom: 21px;
}

.navbar ul li ul li{
margin-bottom: 0px;
}

.navbar ul li ul li a{
    font-size: 14px;
  }

.nav-link {
    padding: 4px 0px !important;
}
.navbar-mobile ul{
      padding: 21px 27px;
}
.navbar .getstarted{
display: flex;
    justify-content: center;
}

.filter-map{
      top: -164px !important;
}
#session_qty {
    position: absolute !important;
    top: -8px !important;
    left: 7px !important;
        font-size: 13px;
}
.h-pro-nav {
    position: absolute;
    top: 14px;
}
.ando-p {
    padding-right: 3px !important;
    position: absolute !important;
    right: 64px !important;
    top: 7px !important;
}
.pro-man {
    position: absolute;
    right: 5px;
    top: 21px;
}

.hed-map {
    border: 1px solid #E8E8E8;
    padding: 4px !important;
    border-radius: 2px !important;
    font-size: 10px;
    left: 6px !important;
    top: 1px !important;
    width: 112px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: left;
    overflow: hidden;
}
#header .logo img {
    max-height: 31px;
}
.logo-centr-fot .mb-4{
  margin-bottom: 8px !important;
}

.social-links.mt-3{
margin-top: 0px !important;
}

.product-listing-section{
  padding: 0px;
}
.footer-links h3 {
    color: #000;
    font-size: 16px !important;
    padding-top: 17px;
    padding-bottom: 0px !important;
    margin-bottom: 2px;
}
#footer .footer-top .footer-links ul li {
    padding: 5px 0;
       font-size: 13px;
}
.section-title p {
    margin: 0;
    font-size: 27px;
    }
.count-box {
    text-align: left;
    padding: 10px 7px;
   
}
.rating-box {
    padding-bottom: 4px;
    margin-top: 1px;
        display: flex;
            padding-left: 5px;
}
.conpmy-name {
    margin-top: 1px;
}
.count-img {
     margin-bottom: 10px;
    }
.count-box p{
  font-size: 14px;
  line-height: 23px;
       height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.count-box small {
   
    font-size: 12px;
    line-height: 23px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.merchnt .col-md-3 {
    width: 49%;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: -3px;
    margin-left: 2px;
    margin-bottom: 16px;
}
.hed-bn-t {
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filt-frm i {
    position: absolute;
    margin: -7px 1px -1px 7px !important;
    font-size: 17px !important;
    }
.curent-locat {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 5px !important;
}

.filter-se {
    background: #ED2028;
    padding: 3px 5px !important;
    margin-left: 3px !important;
    border-radius: 4px;
    font-size: 13px !important;
    color: #fff;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin-bottom: 8px;
    cursor: pointer;
}
.filter-map .form-control {
   
    margin-bottom: 5px;
    padding: 7px 32px !important;
    font-size: 13px !important;
}
.curent-locat i {
    font-size: 16px !important;
    margin-right: 6px;
}
.filter-map {
    width: 88% !important;
    padding: 7px !important;
    padding-top: 14px !important;
}

  .side-user {
    padding-left: 34px;
  }

  .navbar {
    float: right;
  }

  #header {
    padding: 9px 1px !important;
  }

  #demo-2 {
    position: relative;
    top: 2px;
    right: -8px;
  }

  li.float-right-bar {
    position: absolute;
    left: 0 !important;
  }
}

@media (min-width: 768px) {
  .merchnt .col-md-3 {
    flex: 0 0 auto;
    width: 20%;
    margin-bottom: 23px;
  }
}

.file-form .pb-4{
  padding-bottom: 0px !important;
}
.filter-map {
  border: 2px solid #ed2028;
  border-radius: 6px;
  background-color: #FFF;
  min-height: 150px;
  position: relative;
  z-index: 99;
  width: 700px;
  left: 0px;
  right: 0px;
  padding: 29px;
  padding-top: 35px;
  box-shadow: 2px 4px 15px #8787876e;
  margin-bottom: -204px !important;
  top: -97px;
}

.map-top {
  padding-top: 90px;
  padding-bottom: 10px;
  padding: 0px;
}

.merchnt {
  padding: 14px 0px !important;
}

.filt-frm {
  display: flex;
  align-items: center;
}

.filter-se {
  background: #ED2028;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  display: flex !important;

}

.filter-se:hover {
  color: #FFF !important;
  background: #cf020a;
}

.filt-frm i {
  position: absolute;
  margin: 1px 1px -1px 12px;
  font-size: 24px;
  color: #ed2028;
}

.filter-map .form-control {
  padding: 11px 45px;
  font-size: 15px;
}

.filter-map .form-control:focus {
  box-shadow: none;
  border: 1px solid #ccc;
}

.curent-locat i {
  font-size: 21px;
  margin-right: 6px;
}

.pro-event {
  background: #FFF;
  position: absolute;
  border-radius: 6px;
  box-shadow: 1px 5px 9px #ccc;
  text-align: center;
  padding: 11px;
  margin: -1% 0% 1% 5%;
  width: 91%;
  /* margin: auto; */
}

.logo-centr-fot {
  text-align: center;
}

.footer-links h3 {
  color: #242424;
  font-size: 19px;
  font-weight: 600;
}

.footer-links h3 {
  color: #000;

}

.sote-b img {
  border-radius: 0;
  width: 257px;
}

.down-app img {
  width: 100px;
}