<template>
    <select class="form-control" name="state">
        <option value="">Choose State</option>
        <option  v-model="selectedState" v-for="state in states" :key="state.id" :value="state.name" >{{ state.name }}</option>
    </select>
</template>

<script>
export default {
    data(){
        return {
            states:[],
            selectedState:""
        }
    },
    created(){
        axios.get("all-states.json").then(response => {
            this.states=response.data.states;
        })
    }
}
</script>

<style>

</style>