.top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: #080a52;
}
.top-header-area .top-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top-header-area .top-header-content>a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 30px;
}
.top-header-area .top-header-content>a i {
    padding-right: 5px;
    color: #fff;
}
.tpOpsn {
    float: right;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
}
.tpOpsn a {
    color: #eb2188;
}
.tpOpsn select {
    color: #fff;
    border: none;
    background-color: #080a52;
}
.tpOpsn i.fa.fa-mobile {
    font-size: 19px;
    position: relative;
    top: 2px;
    right: 2px;
}
.round {
    border-radius: 25px;
}
.site-blocks-cover h1.aos-init.aos-animate {
    font-weight: 700;
}
.site-blocks-cover p.aos-init {
    font-weight: 400;
    margin-top: 15px;
}
.form-search-wrap input.form-control.rounded {
    border-radius: 25px !important;
}
.form-search-wrap select.form-control.rounded {
    border-radius: 25px !important;
}
.form-search-wrap input.btn.btn-primary.btn-block.rounded {
    border-radius: 25px !important;
    background-color: #e92385;
    border-color: #e92385;
}
.welcome-area {
    position: relative;
    z-index: 1;
    height: 740px;
    margin-top: 30px;
}
.welcome-area .google-maps {
    width: 100%;
    height: 100%;
}
.welcome-area .google-maps iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.border-primary h2 span {
    color: #e92385;
}
a.btn.btn-primary.rounded.text-white:hover {
    background-color: #080a52;
}
a.btn.btn-primary.rounded.text-white {
    background-color: #e92385;
    border-radius: 25px !important;
    border: none;
}
.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}
.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.jarallax {
    position: relative;
    z-index: 0;
}
.bg-img {
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
section.rehome-call-to-action-area:before {
  position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(8, 10, 82, 0.73);
}
.call-to-action-content h2 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 12px;
}
.call-to-action-content p {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    margin-bottom: 0px;
}
.calTacsn {
    float: left;
}
.call-to-action-content .download-btn {
    float: right;
}
.call-to-action-content .download-btn a.btn.btn-primary.rounded {
    float: right;
    margin-top: 27px;
    border: 2px solid #fff;
}
.call-to-action-content h2 {
    font-size: 48px;
    color: #e92385;
    margin-bottom: 12px;
    font-weight: 700;
}
.tpProduct .owl-nav {
    bottom: auto;
    top: 35%;
    width: 100%;
}

.tpProduct .owl-nav .owl-prev {
    padding: 0;
    margin-left: -40px;
    text-align: left;
    font-size: 40px;
}

.tpProduct .owl-nav .owl-next {
    margin-right: -40px;
    float: right;
    padding: 0;
    font-size: 40px;
}

.tpProduct .owl-nav .owl-prev {
    /* font-size: 40px; */
}
.listing .lh-content h3 a {
    color: #0e0e0e;
    font-weight: 700;
}
.prdctPric span.cutPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: #e9233f;
    font-weight: 600;
}
.prdctPric {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    color: #000;
    font-size: 20px;
}
button.adToCart {
    display: table;
    margin: 0 auto;
    font-size: 13px !important;
    border-radius: 25px;
    padding: 5px 15px;
    border: none;
    background-color: #080a52;
    color: #fff;
}
button.adToCart:hover {
    background-color: #e92385;
}

button.adToCart {
    display: table;
    margin: 0 auto;
    font-size: 13px !important;
    border-radius: 25px;
    padding: 5px 15px;
    border: none;
    background-color: #101253;
    color: #fff;
}
.advertBox img {
    width: 100%;
}
.advertBox {
    float: left;
    width: 100%;
}
.tpProduct .owl-carousel {
    margin-bottom: 20px;
}
.tpProduct .d-block.d-md-flex.listing.vertical {
    border: 1px solid #ddd !important;
    border-radius: 10px;
}
.offers {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
    padding: 3px 7px;
    border-radius: 15px;
    background-color: #e92385;
    color: #fff;
}
.assrNfrtur {
    float: left;
    width: 100%;
}
.assrNfrtur a {
    padding: 1px 4px;
        margin-right: 6px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}
.assrNfrtur a.featured {
    background-color: #101253;
}
.assrNfrtur a.Verified {
    background-color: #66bb6a;
}
.ownr_img {
    position: absolute;
    top: -20px;
    z-index: 999999;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    left: 15px;
}

.testimonialSection {
      position: relative;
    background-image: url(../images/bg7.jpg);
}
.testimonialSection:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.86);
}
.site-section.bg-white.testimonialSection {}

.testimonialSection .border-primary h2 {
    color: #fff !important;
    margin-bottom: 25px;
}

.testimonialSection .slide-one-item {}

.testimonialSection .slide-one-item .testimonial {
    color: #fff;
}
.site-footer a.pr-3 {
    font-size: 23px;
    color: #fff;
}
.footlogo {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.foot_Img a {
    margin-left: 15px;
}

.foot_Img {
    float: right;
}
.footSecond {
    float: left;
    width: 100%;
    background-color: #000;
    padding-top: 10px;
}
footer.site-footer {
    float: left;
    width: 100%;
    padding: 0px;
}
.footFirst {
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.site-section.bg-light.aos-init.aos-animate {
    background-color: #efefef!important;
}
.site-section.tpProduct {
    background-image: url(../images/full-bg.png);
    background-size: 100%;
}
.site-section.full-bg {
    background-image: url(../images/full-bg.png);
    background-size: 100%;
}
.footFirst {
    background-image: url(../images/foot-back.png);
    background-repeat-y: no-repeat;
    background-size: 65%;
    background-position: bottom;
}
.site-footer p {
    color: #737373;
    font-size: 14px;
    margin-top: 5px;
}

/************************************************* Login Page *************************************************************/
.site-section.bg-light.login_sec {
    background-image: url(../images/full-Bg-acnt.png);
    background-size: cover;
    padding: 3em 0px;
    background-color: #f3f3f3 !important;
}
.login_sec form.p-5.bg-white {
    border-radius: 25px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.site-section.bg-light.login_sec h2.mb-5.text-black {
    text-align: center;
    color: #2b2d2f  !important;
    margin-bottom: 20px !important;
}
.login_sec form.p-5.bg-white input {
    border-radius: 25px;
    box-shadow: -1px 2px 2px #ccc;
}
.login_sec form.p-5.bg-white .form-group input.btn-primary {
    display: table;
    margin: 0 auto;
    min-width: 150px;
    background-color: #2b2d2f;
    border: none;
}
.login_sec form.p-5.bg-white .form-group input.btn-primary:hover {
    background-color: #000000;
}
.row.form-group.loginmid a {
    color: #000;
}
.row.form-group.loginfoot a {
    font-weight: 700;
    color: #181cb9;
}
.row.form-group.loginfoot p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}
.site-navbar .site-logo a img.logoMail {
    width: 100%;
    max-width: 220px;
}
.footlogo img {
    width: 100%;
}

/************************************************** Register page ******************************************************************/

/*form styles*/
#msform {
    width: 100%;
    margin: 30px auto; 
    text-align: center;
    position: relative;
    min-height: 70vh;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    position: relative !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    border-radius: 25px;
    box-shadow: -1px 2px 2px #ccc;
}
/*buttons*/
#msform .action-button {
    width: 150px;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0 auto;
    min-width: 150px;
    background-color: #2b2d2f;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 1rem;
    margin-top: 30px;
}
#msform .action-button:hover, #msform .action-button:focus {
    /* box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; */
    background-color: #000000;
}
/*headings*/
.fs-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #2b2d2f;
  margin-bottom: 20px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    padding: 0;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 16px;
    color: #333;
    background: #dadada;
    border-radius: 25px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #dadada;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #2b2d2f;
  color: white;
}
#msform fieldset label.text-black {
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #292929 !important;
        margin-bottom: 0px;
}
#msform input[type="file"] {
    padding: 8px;
}
#msform input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 11px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: -1px 2px 2px #ccc;
    text-align: left;
}
#msform fieldset .row.form-group {
    margin-bottom: 10px;
}
.signupmsg p {
    font-size: 13px;
}
.signupmsg p a {
    font-weight: 600;
    color: #181cb9;
}
.top-social-area.ml-auto {
    float: left;
    width: 100%;
}
.tpOpsn:first-child {
    float: left;
    margin-left: 0;
}
.tpOpsn:last-child {
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 25px;
}
.tpOpsn:last-child i.fa {
    color: #e92385;
    font-size: 22px;
}
.tpOpsn:last-child a {
    font-size: 16px;
    font-weight: 700;
}