*:hover {

    transition:all 400ms ease-in-out; 

}

.top-header-area {

    position: relative;

    z-index: 1;

    width: 100%;

    height: 45px;

    background-color: #231F20;

}

.top-header-area .top-header-content {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    padding: 10px;

}

.top-header-area .top-header-content>a {

    color: #fff;

    font-size: 14px;

    font-weight: 400;

    display: inline-block;

    margin-right: 30px;

}

.top-header-area .top-header-content>a i {

    padding-right: 5px; 

    color: #fff;

}

.tpOpsn {

    float: right;

    margin-left: 20px;

    font-size: 14px;

    color: #fff;

}

.tpOpsn a {

    color: #00bf32;

}

.tpOpsn:first-child a {

    color: #fff;

    font-weight: 700;

}

.tpOpsn select {

    color: #fff;

    border: none;

    background-color: #080a52;

}

.tpOpsn i.fa.fa-mobile {

    font-size: 19px;

    position: relative;

    top: 2px;

    right: 2px;

}

.round {

    border-radius: 25px;

}

.site-blocks-cover h1.aos-init.aos-animate {

    font-weight: 700;

}

.site-blocks-cover p.aos-init {

    font-weight: 400;

    margin-top: 15px;

}

.form-search-wrap input.form-control.rounded {

    border-radius: 25px !important;

}

.form-search-wrap select.form-control.rounded {

    border-radius: 25px !important;

}

.form-search-wrap input.btn.btn-primary.btn-block.rounded {

    border-radius: 25px !important;

    background-color: #231f20;

    border-color: #ffffff;

    border: 2px solid;

}

.form-search-wrap input.btn.btn-primary.btn-block.rounded:hover {

    background-color: #000;

}

.site-navbar .site-navigation .site-menu .cta span:hover {

    background-color: #000;

}

.welcome-area {

    position: relative;

    z-index: 1;

    height: 740px;

    margin-top: 30px;

}

.welcome-area .google-maps {

    width: 100%;

    height: 100%;

}

.welcome-area .google-maps iframe {

    width: 100%;

    height: 100%;

    border: none;

}

.border-primary h2 span {

    color: #231f20;

}

a.btn.btn-primary.rounded.text-white:hover {

    background-color: #000;

}

a.btn.btn-primary.rounded.text-white {

    background-color: #231f20;

    border-radius: 25px !important;

    border: none;

}

.section-padding-100-70 {

    padding-top: 100px;

    padding-bottom: 70px;

}

.section-padding-100 {

    padding-top: 100px;

    padding-bottom: 100px;

}

.jarallax {

    position: relative;

    z-index: 0;

}

.bg-img {

    background-position: center center!important;

    background-size: cover!important;

    background-repeat: no-repeat!important;

}

section.rehome-call-to-action-area:before {

  position: absolute;

    content: "";

    left: 0;

    bottom: 0;

    right: 0;

    top: 0;

    background: rgba(0, 0, 0, 0.73);

}

.call-to-action-content h2 {

    font-size: 48px;

    color: #fff;

    margin-bottom: 12px;

}

.call-to-action-content p {

    font-weight: 600;

    font-size: 24px;

    color: #fff;

    margin-bottom: 0;

    margin-bottom: 0px;

}

.calTacsn {

    float: left;

    max-width: 80%;

}

.call-to-action-content .download-btn {

    float: right;

}

.call-to-action-content .download-btn a.btn.btn-primary.rounded {

    float: right;

    margin-top: 27px;

    border: 2px solid #fff;

}

.call-to-action-content h2 {

    font-size: 48px;

    color: #ffffff;

    margin-bottom: 12px;

    font-weight: 700;

}

.tpProduct .owl-nav {

    bottom: auto;

    top: 35%;

    width: 100%;

}



.tpProduct .owl-nav .owl-prev {

    padding: 0;

    margin-left: -40px;

    text-align: left;

    font-size: 40px;

}



.tpProduct .owl-nav .owl-next {

    margin-right: -40px;

    float: right;

    padding: 0;

    font-size: 40px;

}



.tpProduct .owl-nav .owl-prev {

    /* font-size: 40px; */

}

.listing .lh-content h3 a {

    color: #0e0e0e;

    font-weight: 700;

}

.prdctPric span.cutPrice {

    font-size: 14px;

    text-decoration: line-through;

    color: #6f6a6b;

    font-weight: 600;

}

.prdctPric {

    float: left;

    width: 100%;

    margin-bottom: 10px;

    font-weight: 700;

    color: #000;

    font-size: 20px;

}

button.adToCart {

    display: table;

    margin: 0 auto;

    font-size: 13px !important;

    border-radius: 25px;

    padding: 5px 15px;

    border: none;

    background-color: #080a52;

    color: #fff;

}

button.adToCart:hover {

    background-color: #000;

    color: #fff;

}



button.adToCart {

    display: table;

    margin: 0 auto;

    font-size: 13px !important;

    border-radius: 25px;

    padding: 5px 15px;

    border: none;

    background-color: #ffffff;

    color: #231f20;

    border: 1px solid #231f20;

    font-weight: 700;

}

.advertBox img {

    width: 100%;

}

.advertBox {

    float: left;

    width: 100%;

}

.tpProduct .owl-carousel {

    margin-bottom: 20px;

}

.tpProduct .d-block.d-md-flex.listing.vertical {

    border: 1px solid #ddd !important;

    border-radius: 10px;

}

.offers {

    position: absolute;

    top: 10px;

    left: 10px;

    font-size: 11px;

    padding: 3px 7px;

    border-radius: 15px;

    background-color: #231f20;

    color: #fff;

}

.assrNfrtur {

    float: left;

    width: 100%;

}

.assrNfrtur a {

    padding: 1px 4px;

        margin-right: 6px;

    font-size: 12px;

    color: #fff;

    border-radius: 3px;

}

.assrNfrtur a.featured {

    background-color: #353434;

}

.assrNfrtur a.Verified {

    background-color: #66bb6a;

}

.ownr_img {

    position: absolute;

    top: -20px;

    z-index: 999999;

    width: 40px;

    border-radius: 50%;

    overflow: hidden;

    border: 3px solid #fff;

    left: 15px;

}



.testimonialSection {

      position: relative;

    background-image: url(../images/bg7.jpg);

}

.testimonialSection:before {

    position: absolute;

    content: "";

    left: 0;

    bottom: 0;

    right: 0;

    top: 0;

    background: rgba(0, 0, 0, 0.86);

}

.site-section.bg-white.testimonialSection {

    background-image: none !important;

    background-color: #231F20 !important;

    border-bottom: 1px solid #0e0e0e;

}

.testimonialSection .border-primary h2 {

    color: #fff !important;

    margin-bottom: 25px;

}



.testimonialSection .slide-one-item {}



.testimonialSection .slide-one-item .testimonial {

    color: #fff;

}

.site-footer a.pr-3 {

    font-size: 23px;

    color: #fff;

}

.footlogo {

    float: left;

    width: 100%;

    margin-bottom: 30px;

}

.foot_Img a {

    margin-left: 15px;

}



.foot_Img {

    float: right;

}

.footSecond {

    float: left;

    width: 100%;

    background-color: #000;

    padding-top: 10px;

}

footer.site-footer {

    float: left;

    width: 100%;

    padding: 0px;

}

.footFirst {

    float: left;

    width: 100%;

    padding: 40px 0px;

}

.site-section.bg-light.aos-init.aos-animate {

    background-color: #efefef!important;

}

.site-section.tpProduct {

    background-image: url(../images/mailPtrnBg.png);

    background-size: 100%;

}

.site-section.full-bg {

    background-image: url(../images/mailPtrnBg.png);

    background-size: 100%;

}

.footFirst {

    background-image: url(../images/foot-back.png);

    background-repeat-y: no-repeat;

    background-size: 24%;

    background-position: top;

    background-color: #000 !important;

    border-bottom: 1px solid #0e0e0e;

}

.site-footer p {

    color: #737373;

    font-size: 14px;

    margin-top: 5px;

}



/************************************************* Login Page *************************************************************/

.site-section.bg-light.login_sec {

    background-image: url(../images/full-Bg-acnt.png);

    background-size: cover;

    padding: 3em 0px;

    background-color: #f3f3f3 !important;

}

.login_sec form.p-5.bg-white {

    border-radius: 25px;

    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

}

.site-section.bg-light.login_sec h2.mb-5.text-black {

    text-align: center;

    color: #2b2d2f  !important;

    margin-bottom: 20px !important;

}

.login_sec form.p-5.bg-white input {

    border-radius: 25px;

    box-shadow: -1px 2px 2px #ccc;

}

.login_sec form.p-5.bg-white .form-group input.btn-primary {

    display: table;

    margin: 0 auto;

    min-width: 150px;

    background-color: #2b2d2f;

    border: none;

}

.login_sec form.p-5.bg-white .form-group input.btn-primary:hover {

    background-color: #000000;

}

.row.form-group.loginmid a {

    color: #000;

}

.row.form-group.loginfoot a {

    font-weight: 700;

    color: #181cb9;

}

.row.form-group.loginfoot p {

    text-align: center;

    margin-bottom: 0px;

    margin-top: 15px;

}

.site-navbar .site-logo a img.logoMail {

    width: 100%;

    max-width: 220px;

}

.footlogo img {

    width: 80%;

    max-width: 200px;

}



/************************************************** Register page ******************************************************************/



/*form styles*/

#msform {

    width: 100%;

    margin: 30px auto; 

    text-align: center;

    position: relative;

    min-height: 70vh;

}

#msform fieldset {

    background: white;

    border: 0 none;

    border-radius: 15px;

    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    padding: 20px 30px;

    box-sizing: border-box;

    width: 100%;

    margin: 0px;

    position: relative !important;

}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {

  display: none;

}

/*inputs*/

#msform input, #msform textarea {

    padding: 15px;

    border: 1px solid #ccc;

    margin-bottom: 5px;

    width: 100%;

    box-sizing: border-box;

/*    font-family: montserrat;*/

    color: #2C3E50;

    font-size: 13px;

    border-radius: 25px;

    box-shadow: -1px 2px 2px #ccc;

    line-height: normal;

}

/*buttons*/

#msform .action-button {

    width: 150px;

    color: white;

    cursor: pointer;

    padding: 10px 5px;

    margin: 0 auto;

    min-width: 150px;

    background-color: #2b2d2f;

    border: none;

    border-radius: 25px;

    margin-bottom: 20px;

    font-size: 1rem;

    margin-top: 30px;

}

#msform .action-button:hover, #msform .action-button:focus {

    /* box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; */

    background-color: #000000;

}

/*headings*/

.fs-title {

  font-size: 20px;

  text-transform: uppercase;

  color: #2b2d2f;

  margin-bottom: 20px;

}

.fs-subtitle {

  font-weight: normal;

  font-size: 13px;

  color: #666;

  margin-bottom: 20px;

}

/*progressbar*/

#progressbar {

    margin-bottom: 30px;

    overflow: hidden;

    counter-reset: step;

    padding: 0;

}

#progressbar li {

  list-style-type: none;

  color: #231F20;

  text-transform: uppercase;

  font-size: 12px;

  width: 33.33%;

  float: left;

  position: relative;

}

#progressbar li:before {

    content: counter(step);

    counter-increment: step;

    width: 40px;

    line-height: 40px;

    display: block;

    font-size: 16px;

    color: #333;

    background: #dadada;

    border-radius: 25px;

    margin: 0 auto 5px auto;

}

/*progressbar connectors*/

#progressbar li:after {

  content: '';

  width: 100%;

  height: 2px;

  background: #dadada;

  position: absolute;

  left: -50%;

  top: 20px;

  z-index: -1; /*put it behind the numbers*/

}

#progressbar li:first-child:after {

  /*connector not needed before the first step*/

  content: none; 

}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before,  #progressbar li.active:after{

  background: #2b2d2f;

  color: white;

}

#msform fieldset label.text-black {

    text-align: left;

    width: 100%;

    font-size: 14px;

    font-weight: 400;

    color: #292929 !important;

        margin-bottom: 0px;

}

#msform input[type="file"] {

    padding: 8px;

}

/*#msform input[type="file"] {

    display: none;

}*/

.custom-file-upload {

    display: none;

    cursor: pointer;

    padding: 11px;

    border: 1px solid #ccc;

    margin-bottom: 10px;

    width: 100%;

    box-sizing: border-box;

    /*font-family: montserrat;*/

    color: #2C3E50;

    font-size: 12px;

    border-radius: 25px;

    box-shadow: -1px 2px 2px #ccc;

    text-align: left;

}

#msform fieldset .row.form-group {

    margin-bottom: 10px;

}

.signupmsg p {

    font-size: 13px;

}

.signupmsg p a {

    font-weight: 600;

    color: #181cb9;

}

.top-social-area.ml-auto {

    float: left;

    width: 100%;

}

.tpOpsn:first-child {

    float: left;

    margin-left: 0;

}

.tpOpsn:last-child {

    background-color: #fff;

    padding: 0px 10px;

    border-radius: 25px;

}

.tpOpsn:last-child i.fa {

    color: #00c378;

    font-size: 22px;

}

.tpOpsn:last-child a {

    font-size: 16px;

    font-weight: 700;

}

.bx_mainAgree .wrapper_1.account {

    display: block;

    text-align: center;

    padding: 60px 40px 40px;

    min-height: 100vh;

    background-size: 100% !important;

    background-position: top;

    background-color: #c5c5c5 !important;

}

/*a.btn.nikki-btn:before {

    content: "";

    -webkit-transition: background-color,color,.3s ease;

    transition: background-color,color,.3s ease;

    width: 100%;

    background: #da153e;

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    z-index: -1;

    -webkit-transform: skewX(-15deg);

    -ms-transform: skewX(-15deg);

    transform: skewX(-15deg);

    border: 2px solid #da153e;

}*/

.bx_mainAgree .account .inner_1 {

    width: 700px;

    margin: 0px auto;

    padding: 0px 30px 10px;

    border-radius: 5px;

    display: inline-block;

    float: none;

    text-align: center;

    color: #fff;

    position: relative;

    z-index: 999999;

    margin-top: 14%;

}

.witLogo {

    text-align: center;

    margin-bottom: 20px;

    display: table;

    margin: 20px auto;

    padding: 8px 15px;

}

.bx_mainAgree p {

    color: #fff;

    font-size: 14px;

    letter-spacing: 1.5px;

}

h2.adult_18 {

    padding: 10px;

    text-align: center;

    margin-bottom: 20px;

    font-size: 30px;

    letter-spacing: 1px;

}



.btn_agr {

    text-align: center;

}

ul.list_agNtn li {

    display: inline-block;

    margin: 25px 15px 15px;

}

ul.list_agNtn li a {

    border: none;

    font-size: 16px !important;

    background-color: transparent;

    -webkit-transition: all 0.5s;

    -moz-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;

    position: relative;

}



.nikki-btn {

    -webkit-transition-duration: 500ms;

    transition-duration: 500ms;

    position: relative;

    z-index: 1;

    display: inline-block;

    min-width: 180px;

    height: 50px;

    color: #ffffff;

    background-color: #2f166f;

    border: 1px solid #2f166f;

    border-radius: 2px;

    padding: 0 30px;

    font-size: 14px;

    line-height: 48px;

    text-transform: uppercase;

    font-weight: 500;

}

ul.list_agNtn li:Last-child a {

    min-width: auto;

}



ul.list_agNtn li + li a {

    background: none;

    border-color: #fff;

}

ul.list_agNtn li a {

    border: none;

    font-size: 16px !important;

    background-color: transparent;

    -webkit-transition: all 0.5s;

    -moz-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;

    position: relative;

}

.wrapper_1.account:before {

    content: "";

    background-color: #000000cc;

    position: absolute;

    top: 0;

    width: 100%;

    height: 100%;

    left: 0;

}

/*    background: -moz-linear-gradient(left, rgba(47,22,111,1) 0%, rgba(110,22,104,1) 100%);

    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,22,111,1)), color-stop(100%, rgba(110,22,104,1)));

    background: -webkit-linear-gradient(left, rgba(47,22,111,1) 0%, rgba(110,22,104,1) 100%);

    background: -o-linear-gradient(left, rgba(47,22,111,1) 0%, rgba(110,22,104,1) 100%);

    background: -ms-linear-gradient(left, rgba(47,22,111,1) 0%, rgba(110,22,104,1) 100%);

    background: linear-gradient(to right, rgba(47, 22, 111, 0.89) 0%, rgba(110, 22, 104, 0.89) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f166f', endColorstr='#6e1668', GradientType=1 );*/

}

ul.list_agNtn li:Last-child a:before {

    border: 2px solid #ddd;

    background-color: transparent;

    min-width: auto;

}

a.btn.nikki-btn:before {

    content: "";

    -webkit-transition: background-color,color,.3s ease;

    transition: background-color,color,.3s ease;

    width: 100%;

    background: #231F20;

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    z-index: -1;

    border: 2px solid #8e8e8e;

    border-radius: 25px;

}

ul.list_agNtn li a:hover {

    color: #fff;

}

ul.list_agNtn li:Last-child a {

    min-width: auto;

}

a.btn.nikki-btn.animated.fadeIn:hover:before {

    -webkit-animation-name: jello;

    animation-name: jello;

    -webkit-animation-duration: 1s;

    animation-duration: 1s;

    -webkit-animation-fill-mode: both;

    animation-fill-mode: both;

    background-color: rgba(255,255,255,0.2);

    background-color: #000000;

    border-color: #fff;

}

ul.list_agNtn li:Last-child a:before {

    border: 2px solid #8e8e8e;

    background-color: #231f20;

    min-width: auto;

}

.witLogo img {

    width: 315px;

}

input#getLocation {

    width: 100%;

    border-radius: 25px !important;

}

form#search_form .wrap-icon i.fa {

    position: absolute;

    top: 15px;

    left: 40px;

}



/*span.icon-menu.h3 {

    display: none;

}*/



.site-navbar .site-logo {

    margin-top: 0px;

}

.top-social-area.ml-auto .pull-right li {

    float: left;

    list-style: none;

    margin-left: 14px;

}

.top-social-area.ml-auto .pull-right li a.cta {

    border: 1px solid #fff;

    padding: 2px 8px;

    border-radius: 12px;

    font-size: 13px;

        color: #fff;

}

.tpOpsn.for-FixedChat {

    position: fixed;

    bottom: 0;

    right: 0;

    z-index: 99;

}

.top-social-area.ml-auto .pull-right li a.cta:hover span {

    color: #000 !important;

}

.tpOpsn.for-FixedChat a:hover i.fa {

    color: #000;

}

.top-social-area.ml-auto .pull-right li a.cta:hover {

    background-color: #fff;

}

.tpOpsn.for-FixedChat a {

    position: relative;

}



.tpOpsn.for-FixedChat a i.fa.fa-comment {

    font-size: 75px;

}



.tpOpsn.for-FixedChat a span {

    position: absolute;

    color: #fff;

    top: -32px;

    z-index: 999;

    right: 7px;

    width: 50px;

    font-weight: 800;

    font-size: 17px;

    line-height: 19px;

}





/************************************** Search Services Box *****************************************/



.sf-search-result-girds {

    margin-bottom: 30px;

        margin-top: 30px;

}

.btn-advace-wrap .btn-advace-search::after, .sf-featured-top, .sf-latest-news .post-thum, .sf-featured-media {

    border-radius: 10px 10px 0 0;

    -webkit-border-radius: 10px 10px 0 0;

}

.sf-featured-media {

    height: 250px;

    background-size: cover;

    background-position: center;

}

.sf-overlay-box {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);

    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);

}

.sf-categories-label {

    position: absolute;

    top: 20px;

    left: 20px;

    background-color: #ff650d;

    z-index: 1;

}

.sf-categories-label, .sf-featured-sign {

    padding: 3px 5px 3px;

    display: inline-block;

    font-size: 12px;

    color: #fff;

    border-radius: 2px;

    -webkit-border-radius: 2px;

    text-transform: uppercase;

    font-weight: 500;

}

.sf-categories-label a {

    color: #fff;

}

.sf-featured-approve {

    position: absolute;

    white-space: nowrap;

    top: 20px;

    right: 20px;

    background-color: #f34343;

    color: #FFF;

    font-size: 11px;

    width: 25px;

    line-height: 20px;

    height: 25px;

    text-align: center;

    border: 2px solid #fff;

    border-radius: 30px;

    -webkit-border-radius: 30px;

    z-index: 1;

    padding: 1px 5px 0;

    overflow: hidden;

    -webkit-transition: all 0.8s ease-out;

    -moz-transition: all 0.8s ease-out;

    -o-transition: all 0.8s ease-out;

    -ms-transition: all 0.8s ease-out;

    transition: all 0.8s ease-out;

}

.sf-featured-approve span {

    font-size: 12px;

    font-weight: 500;

    padding-left: 5px;

}

.sf-featured-item {

    position: absolute;

    bottom: 20px;

    right: 20px;

    color: #FFF;

    font-size: 18px;

    z-index: 1;

}

.sf-featured-info {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 85%;

    padding: 15px 20px;

}

.sf-featured-sign {

    background-color: #77c04b;

    margin-bottom: 5px;

}

.sf-featured-provider {

    padding: 2px 0;

    font-size: 18px;

    color: #fff;

    font-weight: 500;

}

.sf-featured-address {

    padding: 2px 0;

    font-size: 14px;

    color: #fff;

}

.sf-featured-address i {

    font-size: 16px;

}

.sf-show-rating .rating-disabled {

    cursor: text;

}

.sf-show-rating .rating-sm {

    font-size: 15px;

}

.sf-show-rating .star-rating .caption, .sf-show-rating .star-rating .clear-rating {

    display: none;

}

.star-rating .clear-rating {

    padding-right: 5px;

}

.star-rating .clear-rating, .star-rating-rtl .clear-rating {

    color: #aaa;

    cursor: not-allowed;

    display: inline-block;

    vertical-align: middle;

    font-size: 60%;

}

.sf-show-rating .rating-container {

    font-size: 12px;

}

.sf-show-rating .rating-container {

    letter-spacing: 2px;

    font-size: 15px;

}

.rating-container {

    color: #c8c8c8;

}

.rating-container {

    position: relative;

    vertical-align: middle;

    display: inline-block;

    color: #e3e3e3;

    overflow: hidden;

}

.rating-gly-star {

    font-family: 'Glyphicons Halflings';

    padding-left: 2px;

}

.sf-featured-girds .sf-profile-link, .sf-search-result-girds .sf-profile-link {

    position: absolute;

    top: 0;

    width: 100%;

    height: 100%;

}

.sf-featured-bot {

    padding: 20px;

    background-color: #fff;

    border: 1px solid #e8e8e8;

}

.sf-featured-bot {

    padding: 20px;

    background-color: #fff;

    border: 1px solid #e8e8e8;

}

.sf-featured-text {

    margin-bottom: 15px;

}

.btn-group, .btn-group-vertical {

    position: relative;

    display: inline-block;

    vertical-align: middle;

}

.sf-featured-bot .sf-provider-tooltip .btn {

    padding: 0;

    border: none;

    background: none;

    margin: 0 15px 0 0 !important;

    width: auto;

}

.sf-featured-top {

    position: relative;

}

.sf-featured-info .star-rating span.fa {

    color: #f3c900;

}

.sf-featured-approve:hover {

    width: 80px;

}

.sf-featured-bot .sf-featured-comapny {

    font-weight: 600;

    font-size: 14px;

    margin-bottom: 5px;

}





/****************************************** Search Product box *************************************************/



.sl-featuredProducts--post {

    display: flex;

    flex-direction: column;

    border: 1px solid #ddd;

    border-radius: 6px;

    margin-top: 30px;

}

.sl-featuredProducts--post figure {

    position: relative;

    border-bottom: 1px solid #ddd;

    border-radius: 6px 6px 0 0;

}

.sl-featuredProducts--post img {

    width: 100%;

    border-radius: 6px 6px 0 0;

}

.sl-featuredProducts--post figcaption {

    position: absolute;

    top: 0;

    display: flex;

    justify-content: space-between;

    width: 100%;

    padding: 20px;

    line-height: 0;

}

.sl-featuredProducts--post figcaption .sl-slider__tags {

    margin-bottom: 0;

}

.sl-slider__tags {

    display: flex;

    margin-bottom: 3px;

}

.sl-slider__tags a, .sl-slider__tags span {

    font: 400 12px "Source Sans Pro", sans-serif;

    border-radius: 2px;

    height: 18px;

    color: #fff;

    padding: 0 7px;

    line-height: 1.4166666667em !important;

}

.sl-bg-red-orange {

    background-color: #ff7043;

}

.sl-featuredProducts--post figcaption > a {

    color: #ddd;

}

.sl-featuredProducts--post__content {

    display: flex;

    flex-direction: column;

    padding: 20px;

    margin-top: -3px;

}

.sl-featuredProducts--post__title h6 {

    color: #363636;

}

.sl-featuredProducts--post__content h6 {

    font-size: 0.875rem;

    color: #767676;

    line-height: 1.142857;

}

.sl-featuredProducts--post__price {

    display: flex;

    align-items: baseline;

}

.sl-featuredProducts--post__content h5 {

    line-height: 1.333333;

    font-size: 16px;

}

.sl-featuredProducts--post__price h6 {

    font-size: 14px;

}

.sl-featuredProducts--post__price h6 {

    padding-left: 7px;

    text-decoration: line-through;

}

.sl-featuredProducts--post__content h6 {

    font-size: 14px;

    color: #232323;

    line-height: normal;

    margin-bottom: 0;

    margin-top: 0;

}

.sl-featuredProducts--post__content .sl-featureRating {

    padding: 3px 0 1px;

    width: 100%;

    display: block;

}

.sl-featuredProducts--post__content .sl-featureRating .star-rating {

    float: left;

    margin-right: 5px; 

}

.sl-featuredProducts--post__content .sl-featureRating .star-rating span.fa.fa-star {

    color: #e6b314;

}

.sl-featureRating {

    font-family: "Source Sans Pro", sans-serif;

    color: #767676;

    line-height: 19px;

}

.sl-featureRating__stars {

    letter-spacing: 1px;

}

.sl-featureRating__stars, .sl-featureRating__stars span, .sl-featureRatingDollars__dollars, .sl-featureRatingDollars__dollars span {

    position: relative;

    width: 77.5px;

    height: 16px;

    line-height: 16px;

}

.sl-featureRating__stars span {

    width: 80%;

    overflow: hidden;

}

.sl-featureRating__stars::before {

    color: #dadada;

}

.sl-featureRating__stars::before, .sl-featureRating__stars span::after {

    color: #ffcc03;

    content: '\f005 \f005 \f005 \f005 \f005';

}

.sl-featureRating__stars::before, .sl-featureRating__stars span::after, .sl-featureRatingDollars__dollars::before, .sl-featureRatingDollars__dollars span::after {

    position: absolute;

    top: 0;

    left: 0;

    font-size: 13px;

    font-weight: 700;

    line-height: 16px;

    font-family: 'Font Awesome 5 Free';

}

.sl-btn {

    justify-content: center;

    font: 600 14px "Source Sans Pro", sans-serif;

    color: #363636;

    border: 1px solid #231F20;

    border-radius: 6px;

    height: 44px;

    padding: 0 10px;

    /* min-width: 136px; */

    background-color: #fff;

    padding: 10px;

    height: auto;

    line-height: normal;

    font-weight: 400;

}

.sl-btn:hover {

    background-color: #231F20;

    color: #fff;

}

.sl-featuredProducts--post em {

    font-style: normal;

}

.btn-group.sf-provider-tooltip {

    display: block;

}

.sl-featuredProducts--post__content em {

    margin: 10px 0px;

    font-size: 14px;

    color: #231f20;

}

.sl-featuredProducts--post__content .sl-featureRating em {

    font-size: 12px;

    color: #636363;

}

.btn-group.sf-provider-tooltip a:hover {

    background-color: #231F20;

    color: #fff;

}

.btn-group.sf-provider-tooltip a {

    text-align: center;

    padding: 10px;

    display: block;

    border: 1px solid #231f20;

    border-radius: 5px;

    color: #231f20;

    font-size: 13px;

}





/****************************************** Single Product ************************************/

.section-full {

    padding: 70px 0;

}

.bg-gray {

    background-color: #eff3f6;

}

.section-full {

    padding: 80px 0;

    position: relative;

    background-repeat: no-repeat;

    background-size: cover;

    -webkit-backface-visibility: hidden;

    -webkit-transform: translate3d(0, 0, 0);

}

.about-info .sf-provider-des {

    padding: 15px;

    background: #FFF;

    text-align: center;

    margin: 0 15px 15px 0;

    position: relative;

}

.sf-thum-bx {

    background-color: #fff;

}

.sf-thum-bx img, .post-thum-bx img, .post-thum img {

    width: 100%;

    height: auto;

}

.about-info .sf-provider-name {

    display: block;

    font-size: 16px;

    padding-top: 15px;

    font-weight: 600;

    color: #333;

}

.about-info .social-bx {

    margin: 15px 0 10px;

    float: none;

}



.social-bx, .login-bx {

    margin: 0 0 0 15px;

    float: right;

}

.about-info .social-bx li {

    padding: 0;

    margin: 0 2px;

}

.about-info .social-bx li a {

    border: 1px solid #CCC;

    padding: 7px;

    width: 30px;

    height: 30px;

    color: #999;

}

.about-info .sf-about-box {

    padding: 20px;

}

.about-info .sf-title {

    margin: 0 0 20px;

}

.about-info .tagline {

    margin: 0 0 10px;

    display: block;

}

.sf-provider-cat {

    margin-bottom: 20px;

    margin-right: 300px;

}

.sf-provider-cat a {

    margin-left: 5px;

}

.sf-about-box .shared-bx {

    display: table;

    width: 780px;

    margin-bottom: 15px;

}

.about-info .sharebtn-bx {

    /* width: 42%; */

    padding-left: 0;

}

ul.sharebtn-bx, ul.share-social-bx {

    list-style: none;

    margin: 0;

    min-height: 34px;

}



ul.sharebtn-bx {

    float: left;

}

.about-info .shared-bx .sharebtn-bx li {

    background: #FFF;

    margin-bottom: 5px;

}



ul.sharebtn-bx li, ul.share-social-bx li {

    display: inline-block;

    border: 1px solid #efeded;

    padding: 0px 10px 0 0;

    height: 34px;

    margin-right: 8px;

}

ul.sharebtn-bx li a, ul.share-social-bx li a {

    display: inline-block;

}

ul.sharebtn-bx li i, ul.share-social-bx li i {

    display: inline-block;

    text-align: center;

    color: #3396d1;

    padding: 10px;

    margin-right: 10px;

    border-right: 1px solid #efeded;

    font-size: 11px;

}

section.myAccountSec {

    padding: 50px 0;

    background-image: url(../images/full-Bg-acnt.png);

    background-size: cover;

    padding: 3em 0px;

    background-color: #f3f3f3 !important;

}

form#update_frm .box_style_2 {

    float: left;

    width: 100%;

    border-radius: 25px;

    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    border: none;

}

form#update_frm .box_style_2 h2.inner {

    border-radius: 25px 25px 0px 0px;

    padding: 20px;

}

form#update_frm .box_style_2 input {

    border-radius: 25px;

}



form#update_pwd .box_style_2 {

    float: left;

    width: 100%;

    border-radius: 25px;

    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    border: none;

}

form#update_pwd .box_style_2 h2.inner {

    border-radius: 25px 25px 0px 0px;

    padding: 20px;

}

form#update_pwd .box_style_2 input {

    border-radius: 25px;

}



form#update_pwd button#update_oldpwd {

    background-color: #231f20;

    color: #fff;

    margin: 0;

    border-radius: 25px;

    font-size: 14px;

    font-weight: 400;

    display: table;

    margin: 0 auto;

    width: auto;

}

section.rehome-call-to-action-area.bg-overlay {

    background-image: none !important;

    background-color: #231f20 !important;

}

#msform input::-webkit-outer-spin-button,

#msform input::-webkit-inner-spin-button {

    -webkit-appearance: none;

}

#msform fieldset .form-group h2 {

    font-size: 16px;

    font-weight: 600;

    /* margin-top: 10px; */

    /* border-top: 1px solid #ddd; */

    padding-top: 10px;

    /* background-color: #f3f3f3; */

}

.row.vehicle_dtl {

    /* background-color: #f1f1f1; */

    margin-bottom: 10px;

    border: 1px solid #dddd;

    margin: 15px 0px;

    padding: 5px;

}



@media (min-width: 320px) and (max-width: 767px) {

    .tpOpsn:first-child {

        display: none;

    }

    .tpProduct .owl-nav {

    bottom: auto;

    top: -66px;

    width: 100%;

}

.tpProduct .owl-nav .owl-prev {

    padding: 0;

    margin-left: 0px;

    text-align: left;

    font-size: 40px;

}

.tpProduct .owl-nav .owl-next {

    margin-right: 0px;

    float: right;

    padding: 0;

    font-size: 40px;

}

.site-blocks-cover h1.aos-init.aos-animate {

    font-weight: 700;

    font-size: 25px;

}

.site-blocks-cover p {

    font-size: 13px;

        margin-bottom: 0px;

}

.form-search-wrap input {

    height: 40px !important;

    line-height: 12px;

}

.form-search-wrap select {

    height: 40px !important;

line-height: 12px;

}

a.site-menu-toggle.js-menu-toggle.text-black {

    float: right;

}

.site-blocks-cover.overlay {

    position: relative;

    background-position: 50% 0px !important;

        min-height: 82vh;

    height: calc(82vh);

}

 .site-blocks-cover > .container > .row {

    min-height: 76vh;

    height: calc(86vh);

}

.call-to-action-content h2 {

    font-size: 30px;

    color: #ffffff;

    margin-bottom: 12px;

    font-weight: 700;

}

.call-to-action-content p {

    font-weight: 600;

    font-size: 18px;

    color: #fff;

    margin-bottom: 0;

    margin-bottom: 0px;

}

.call-to-action-content .download-btn {

    float: left;

}

.foot_Img {

    float: right;

    margin-bottom: 15px;

}

.bx_mainAgree .account .inner_1 {

    width: 100%;

    margin: 0px auto;

    padding: 0px 0px 10px;

    border-radius: 5px;

    display: inline-block;

    float: none;

    text-align: center;

    color: #fff;

    position: relative;

    z-index: 999999;

    margin-top: 0px;

}

.witLogo {

    text-align: center;

    margin-bottom: 20px;

    display: table;

    margin: 00px auto;

    padding: 8px 0px;

}

h2.adult_18 {

    padding: 10px;

    text-align: center;

    margin-bottom: 20px;

    font-size: 22px;

    letter-spacing: 1px;

}

.btn_agr ul.list_agNtn {

    margin: 0px;

    padding: 0;

}

ul.list_agNtn li {

    display: inline-block;

    margin: 5px 15px 15px;

}

.bx_mainAgree .wrapper_1.account {

    display: block;

    text-align: center;

    padding: 15px;

    min-height: 100vh;

    background-size: cover !important;

    background-position: top;

    background-color: #c5c5c5 !important;

}

.witLogo img {

    width: 250px;

    margin-top: 25px;

}

}


/********************************************* For Help Page *************************************************/

section#ordr-grab-sec {
    padding: 65px 0px;
    background-color: #231F20;
    position: relative;
    margin-top: 0px;
}
.web-heading {
    width: 100%;
    float: left;
    text-align: center;
}
section#ordr-grab-sec .web-heading h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}
section#ordr-grab-sec .web-heading>p {
    width: 60%;
    display: table;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
}
#ordr-grab-sec .forml-changs {
    float: none;
    width: 100%;
    padding: 15px;
    max-width: 700px;
    display: table;
    margin: 0 auto;
    color: #fff;
}
#ordr-grab-sec .trvlr-form {
    width: 500px;
    display: table;
    margin: 0 auto;
}
#ordr-grab-sec .trvlr-form .input-group {
    width: calc(100% - 160px);
    float: left;
}
#ordr-grab-sec .trvlr-form button.btn.btn-primary {
    border: 2px solid #fff;
    font-size: 16px;
    padding: 8px;
    min-width: 28%;
    background-color: #231f20;
    border-radius: 25px;
    margin-top: 0;
    text-transform: uppercase;
    margin-left: 10px;
}
#ordr-grab-sec .trvlr-form .input-group .form-group {
    margin-top: 0px !important;
    width: 100%;
    margin-right: 15px;
}
#ordr-grab-sec .trvlr-form .input-group input.form-control {
    border: 1px solid #d2d2d2;
    padding: 13px;
    min-height: 43px;
    background-color: #fff;
    border-radius: 25px;
}
section.support {
    padding: 65px 0px;
    background-color: #f0f4f6;
    position: relative;
}
.web-heading.support-head {
    text-align: left;
    margin-bottom: 35px;
    border-bottom: 1px solid #cecece;
}

.web-heading {
    width: 100%;
    float: left;
    text-align: center;
}
.web-heading.support-head h2 {
    text-align: left;
        margin-top: 0px;
}
.web-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #231f20;
    margin-bottom: 15px;
    text-align: center;
}
.help-topic {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.topic-icon {
    width: 35px;
    float: left;
}
.topic-icon i.fa {
    font-size: 22px;
    color: #231f20;
}
.topic-text {
    width: calc(100% - 50px);
    float: left;
    text-align: left;
    margin-bottom: 20px;
}
.topic-text h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
}
.topic-text p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #717171;
    line-height: 18px;
}
.populr-topics {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 25px;
}
.populr-topics h2 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0;
}
.populr-topics p {
    font-size: 14px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d6d6d6;
    padding: 5px 0px;
}
.color-btn {
    float: left;
    padding: 6px 20px;
    color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    background-color: #231f20;
    margin-top: 12px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    border: none;
    cursor: pointer;
}
section#faq {
    padding: 65px 0px;
    background-color: #fff;
    position: relative;
    float: left;
    width: 100%;
}
#faq #faq-list {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
#faq #faq-list li:first-child {
    border-top: 1px solid #ddd;
}

#faq #faq-list li {
    border-bottom: 1px solid #ddd;
}
#faq #faq-list a.collapsed {
    color: #000;
}

#faq #faq-list a {
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    color: #333;
}
#faq #faq-list a span {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 28px;
    margin-right: 15px;
    position: relative;
    top: -5px;
}
#faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
    color: #adadad;
}
#faq #faq-list a.collapsed i::before {
    content: "\f105" !important;
}
#faq #faq-list p {
    margin-bottom: 20px;
    font-size: 14px;
}
.topic-text a {
    padding: 3px 10px;
    border: 1px solid #231f20;
    font-size: 13px;
    border-radius: 20px;
    color: #000;
}
section.support-text {
    padding: 0px;
    background-color: #f0f4f6;
    position: relative;
    padding-bottom: 50px;
}
.sl-privacydetails {
    margin-top: -5px;
    margin-bottom: 32px;
}
.sl-privacydetails__title h3 {
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 17px;
}
.sl-privacydetails__description p {
    margin-bottom: 24px;
}
.sl-privacydetails__description p {
    margin-bottom: 24px;
    font-size: 14px;
}