.container {
    max-width: 1366px !important;
    width: 100% !important;
}
.site-blocks-cover.overlay:before {
    background-color: #fff;
}
li.active a {
    color: #000 !important;
    font-weight: bold;
}
.form-search-wrap {
    background-color: unset;
   
    padding: 0;
    /* border: 2px solid #ddd; */
}
.home_page_banner .col-md-6 {
 float: left;
}
form.home_page_banner .form-control {
    padding-left: 30px;
     float: left;
    width: 100%;
    background-color: unset !important;
    border: unset !important;
    text-transform: capitalize;
}

span.serach_icon {
    position: absolute;
    top: 12px;
    left: 25px;
}

span.serach_icon i {
    font-size: 15px;
        color: #bdbdbd;
}
form.home_page_banner {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-top: 0px;
    margin-left: 0px;
}
ul.rgt_map_list {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0px;
    padding-top: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
}

ul.rgt_map_list li {
  display: -webkit-inline-box;
    padding-right: 8px;
    width: 49.5% !important;
    padding-left: 1px;
    padding-right: 0px;
}
ul.rgt_map_list a:hover {
text-decoration: none !important;
}
a.active_map:hover {
    text-decoration: none !important;
    color: #FFA41C !important;
}
ul.rgt_map_list a {
    color: #fff;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  border: 1px solid #FFA41C;*/
    padding: 4px 2px;
    border-radius: 3px;
    line-height: 20px;
    /*background-color: #fff;*/
    font-weight: 600;
    text-align: center;
    margin-left: -6px !important;
   
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #c50209 !important;
    border-color: #c50209 !important;
}
ul.rgt_map_list a:hover {
    text-decoration: unset;
}

.category_sect {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.category_sect ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
  padding-left: 0px;
  display: flex;
     /* min-height: 126px;*/
}

.category_sect ul li {
    /* display: -webkit-inline-box; */
    padding-left: 0px;
    text-align: center;
    /* padding-right: 18px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 8px;
}

.category_sect ul li a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #b9b9b9;
    padding: 10px 22px;
    border-radius: 50px;
    color: #000 !important;
    cursor: pointer;
    margin-bottom: 10px;
  /*  float: left;*/

}
.category_sect ul li a:hover {
    text-decoration: unset;
    color: #FFF !important;
    background-color: #343434;
    border: 1px solid #343434;
}
.map {
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 10px;
}
.top-header-area {
    border-top: unset !important;
}
.adds_banner {
    float: left;
    width: 100%;
}

.adds_banner img {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  /*  height: 190px; */
    border: 1px solid #dddddd73;
    padding: 4px;
}
.b_add {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.b_add .col-md-6 {
    float: left;
   }

.listing_width_eq {
    float: left;
    width: 18%;
    max-width: 30%;
    margin-top: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    margin-left: 8px;
    background: #fefefe;
  /*  min-height: 338px;*/
  margin-bottom: 15px;

 
}

.product-listing-section {
    float: left;
    width: 100%;
    background-color: #ffffff;
}
.prduc_img {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 214px;
    margin-top: 10px;
}

.prduc_img img {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    padding: 17px 10px 20px 6px;
}
.wish_list {
    float: left;
    position: absolute;
    right: 10px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wish_list span {
    height: 20px;
    width: 20px;
    border: 1px solid #b3b4ba;
    border-radius: 50px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wish_list span i {
    padding: 13px;
    float: left;
    margin-right: 0px;
    color: #b3b4ba;
}
.descrption_set {
    float: left;
    width: 100%;
}

.first_des {
    float: left;
    width: 100%;
}

p.f_left {
    float: left;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.first_des{
    margin-top: 10px;
}
p.f_right {
    float: right;
    font-size: 12px;
    font-weight: 500;
}
.second_des {
    float: left;
    width: 100%;
}
.second_des h3 {
    font-size: 13px;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}
span.rgt_cont {
    text-transform: uppercase;
}

.second_des p {
    float: left;
    width: 100%;
     margin-bottom: 0px;
    padding-bottom: 0;
}

span.rgt_chk i {
    color: #6ed0f5;
}
.rating .fa {
    color: #ed1c24;
}
.price {
    float: left;
    width: 100%;
}

.price p {
    font-weight: bold;
    margin-bottom: 0px;
}
.first_des p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.row_listing{
	display: block;
	float: left;
	width: 100%;
	margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.f_firt_content p {
    color: #222;
    float: left;
    width: 100%;
}
.site-footer a.pr-3 {
    color: #222;
}
.icon-facebook:before {
    border: unset;
}
.icon-twitter:before {

    border: unset;
}
.icon-instagram:before {
   
    border: unset;
  
}
.icon-linkedin:before {
   
    border: unset;
 
}
.footFirst {
    background-color: #fff!important;
}
.f_firt_content {
    float: left;
    width: 100%;
}

.app_logo {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*.app_logo img {
    float: left;
    width: 29%;
    margin-bottom: 15px;
    margin-top: 10px;
}*/
.social_footer_icon {
    float: left;
    width: 100%;
}

.social_footer_icon img {
    width: 19px;
}
ul.list-unstyled li a {
    text-transform: capitalize;
}
.foter_4 {
    float: left;
}

.footer_2 {
    float: left;
    width: 26%;
    max-width: 22%;
}
.footFirst {
    padding: 38px 0 30px 0;
}
.social_footer_icon .pr-3, .px-3 {
    padding-right: 2px !important;
}
.mobile-view-homepage_cate_section {
    display: none;
}
.listing_width_eq:hover {
      /* background: #fefefe; */
    /* box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%); */
    transition: all ease-in-out 0.3s;
    border: 1px solid #ed1c24;
}
.social_footer_icon img:hover {
 /*   transform: translateY(-10px);*/
}
ul.rgt_map_list li a:hover {
    color: #ed1c24;
    text-decoration: none !important;
}
.row.row_listing .col-md-12 {
    padding-right: 0px;
}
a.active_map {
    
    color: #fff !important;
}
.product-listing-section.aos-init.aos-animate {
    background-color: #ffffff;
}
/*home page responsive view*/
@media only screen and (max-width: 1366px) {
ul.rgt_map_list li {
    width: auto;
}
}
@media only screen and (max-width: 1280px) {
ul.rgt_map_list li {
    width: auto;
}
ul.rgt_map_list {

    display: flex;
    justify-content: center;
    align-items: center;
}
ul.rgt_map_list a {
    padding: 4px 4px;
}
}
@media only screen and (max-width: 1144px) {
ul.rgt_map_list a {
    padding: 4px 7px;
    font-size: 12px;
}
}
@media only screen and (max-width: 1140px) {
ul.rgt_map_list a {
   
    width: auto !important;
  
    
}
ul.rgt_map_list li {
    display: -webkit-inline-box;
    padding-right: 8px;
    width: auto !important;
    padding-left: 4px;
    padding-right: 0px;
}
}
@media only screen and (max-width: 1050px) {
.mb_list_view {
    padding-left: 0px;
}
}
@media only screen and (max-width: 1024px) {
.site-footer .footer-heading {
    font-size: 14px;
    margin-bottom: 10px !important;
}
/*.app_logo img {
    width: 79px;
    margin-bottom: 15px;
}*/
.social_footer_icon img {
    width: 15px;
}
.prduc_img {
    height: auto !important;
   /* margin-top: 20px;*/
    margin-bottom: 8px;
}
.row_listing {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
/*.listing_width_eq {
    float: left;
    width: 18%;
}*/
.second_des h3 {
    width: auto;
}
.btn-group.sf-provider-tooltip a {
    padding: 0px;
}
/*.sf-featured-provider {
    width: auto;
}*/
/*.sf-featured-address {
    width: auto;
}*/
}
@media only screen and (max-width: 800px) {
ul.rgt_map_list a {
    font-size: 11px;
}
}
@media only screen and (max-width: 768px) {
.row_listing {
    padding: 30px;
}
/*.listing_width_eq {
    float: left;
    width: 30%;
    max-width: 31%;
    margin-left: 10px;
  
    margin-bottom: 10px;
}*/
.category_sect ul li {
   /* padding-right: 9px;
    margin-bottom: 7px;*/
}
.category_sect ul li a {
    font-size: 11px;

}
div#proid-30 .descrption_set {
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}
}
@media only screen and (max-width: 767px) {
.bg_color-serach {
    float: left;
    width: 100%;
    background-color: unset !important;
    padding: 0px !important;
    margin: 0 !important;
    border: unset !important;
    line-height: 0px;
    border-radius: 3px;
}
form.home_page_banner {
    float: left;
    width: 100%;
    background-color: #232f3e;
    padding: 8px;
    border: 1px solid #232f3e;
    border-radius: 6px;
}
form.home_page_banner .form-control {
    background-color: #fff !important;
        border-radius: 3px;
}
.mb_mg_top {
    margin-top: 5px;
}
a#listview {
    color: #000 !important;
    border: 1px solid #000;
    line-height: 23px;
}
a#mapview {
   
    color: #000 !important;
    border: 1px solid #000;
    line-height: 23px;
}
.bg_color-serach {
    padding: 10px !important;
}
.home_page_banner .col-md-6 {
    padding-left: 0px;
    padding-right: 0;
}
span.serach_icon {
    left: 9px;
}
.mb_icon {
    top: 25px !important;
}
ul.rgt_map_list {
    display: block;
    margin-top: 7px;
}
li.list_view {
    border-left: 1px solid #000 !important;
}

}

@media only screen and (max-width: 1024px) and (min-width: 768px){
.listing_width_eq{
height: auto !important;
    padding: 8px;

}


}

@media only screen and (max-width: 1300px) and (min-width: 2000px){

/*.listing_width_eq{
    width: 18%;
}*/

p.f_left{
    width: 100% !important;
 }  
}


@media only screen and (max-width: 767px) and (min-width: 502px){
.mobile-view-homepage_cate_section button.w3-btn {
    padding: 7px 8px;
    margin-top: 20px !important;
    }
 }

@media only screen and (max-width: 500px) and (min-width: 320px){

.listing_width_eq {
    margin-right: 5px;
    width: 44% !important;
    max-width: 100% !important;
}


  }

@media only screen and (max-width: 767px) and (min-width: 501px){

.listing_width_eq {
    margin-right: 5px;
    width: 29% !important;
    max-width: 100% !important;
}
  }

@media only screen and (max-width: 767px) and (min-width: 320px){
#currentloc {
    color: #000 !important;
    border: 1px solid #000;
    line-height: 23px;
}
.sf-featured-address i{
    margin-right: 11px;
    font-size: 16px !important;
}



.addtocart {
    width: 21px;
    right: 0;
    position: absolute;
}
/*.listing_width_eq {
    min-height: 300px !important;
}*/

div#listview {
    width: 45% !important;
}

}

@media only screen and (max-width: 700px) {
div#listview {
    width: 29%;
}
/*.rating .fa {
    font-size: 11px;
}*/
}

@media only screen and (max-width: 640px){
ul.rgt_map_list a {
    font-size: 12px;
    padding: 4px 10px;
    width: 156px !important;
}
}
@media only screen and (max-width: 640px) {
.foter_3 {
    float: left;
    text-align: center;
    width: 100%;
}
.footer_2 {
    float: left;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.col-md-2.foter_2 {
    float: left;
    text-align: center;
}
.app_logo {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*.app_logo img {
    float: left;
    width: 83px;
    margin-bottom: 5px;
    margin-top: 10px;
}*/
form.home_page_banner {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #232f3e;
}
.home_page_banner .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
form.home_page_banner .form-control {
    border: 1px solid #dddddd69 !important;
    /* margin-bottom: 10px; */
    background-color: #fff !important;
    border-radius: 4px;
}
span.serach_icon {
    left: 8px;
}
.mb_mg_top {
    margin-top: 10px;
}
/*.mb_icon {
    margin-top: 10px;
}*/
.b_add {
    padding: 10px;
}
.b_add .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.map {
    padding: 10px;
}
.product-listing-section.aos-init.aos-animate {
    float: left;
    width: 100%;
    padding: 10px;
    margin-left: 0px !important;
}
.row_listing {
    padding: 0px;
   /* padding-left: 10px;
    padding-right: 10px;*/
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/*.listing_width_eq {
    float: left;
    width: 30%;
    max-width: 29%;
    margin-left: 5px;
    border: 1px solid #FFF;
}*/
.adds_banner img {
    height: auto;
}
.category_sect.desktop-view_homepage_cat_sect {
    /*display: none;*/
}
.mobile-view-homepage_cate_section {
    display: block;
    position: absolute;
    /* right: 0; */
    margin-top: -58px;
    left: 184px;
}
.mobile-view-homepage_cate_section button.w3-btn {
    color: #000;
    font-size: 14px;
    background-color: #fff!important;
    padding: 9px 9px;
    border-radius: 3px;
    line-height: 21px;
    margin-top: 2px;
    margin-left: 7px;
    width: 156px;
    font-weight: 600;
    border: 1px solid #000;
}

.w3-dropdown-click.mobile-view-homepage_cate_section ul {
    list-style: none;
    padding-left: 10px;
    padding: 4px 10px;
  
}
.w3-dropdown-click.mobile-view-homepage_cate_section ul li {
    margin-bottom: 7px;
    border-bottom: 1px solid #dddddd6b;
}
.w3-btn:hover {
    box-shadow: unset !important;
}
.w3-dropdown-click.mobile-view-homepage_cate_section ul li a {
    font-size: 13px;
}
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
    background-color: unset !important;
    color: #000;
}
div#Demo {
    border-top: 5px solid #ed1c24  ;
    z-index: 999;
}

ul.rgt_map_list a {
    font-size: 14px;
    padding: 9px 7px;
}
.site-footer .footer-heading {
    margin-bottom: 10px !important;
    padding-top: 0px;
}
.w3-dropdown-content {
    min-width: 130px;
}
form.home_page_banner .form-control {
    font-size: 11px !important;
}
.bg_color-serach {
    float: left;
    width: 100%;
    background-color: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    border:unset !important;
    line-height: 0px;
    border-radius: 3px;
    display: initial !important;

}
ul.rgt_map_list li {
    float: left;
    border-left: unset !important;
    margin-right: 6px;
    margin-bottom: 5px;
}
ul.rgt_map_list {
   /* width: 80%;*/
    margin-left: 22px;
    min-height: 77px;
}
.site-mobile-menu .site-nav-wrap .cta {
    margin-top: 13px;
}

span.round.merchnat_btn {
    background-color: unset !important;
    color: #fff !important;
    border: unset !important;
      margin-bottom: 0px !important;
}
li.cart_icon_sec.dcart {
   /* border: 1px solid #ed1c24;*/
    margin-top: 12px;
    text-align: center;
    border-radius: 10px;
}
.second_des h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    white-space: nowrap;
    width: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.rgt_map_list a {
    line-height: 25px;
}
.bg_color-serach {

    padding: 10px !important;
}
.prduc_img {
height: auto !important;
}
/*.sf-featured-provider {
  width: auto !important;
}*/
/*.sf-featured-address {
    font-size: 10px;
}*/
.btn-group.sf-provider-tooltip a {
    padding: 0px !important;
}
.dltv{
    /*height: 259px !important;*/
} 
ul#catfiltermo li input {
    float: left;
    width: 100%;
    /* position: absolute; */
    /* left: 54px; */
    /* margin-top: -34px; */
    padding-top: -12px;
    margin-bottom: -31px;
    opacity: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-left: -22px;
}
}
@media only screen and (max-width: 560px) {
/*.listing_width_eq {
    width: 29%;
}*/
}
@media only screen and (max-width: 480px) {
/*.listing_width_eq {
    float: left;
    width: 49%;
    max-width: 45%;
}*/
.prduc_img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-group.sf-provider-tooltip a {
    font-size: 11px;
}
div#listview {
/*    min-height: 312px !important;
*/    /*width: 45% !important;*/
}
/*.sf-featured-provider {
    font-size: 10px;
    font-weight: normal;
}*/
/*.rating .fa {
    font-size: 8px;
}*/
.sf-featured-text {
    display: none;
}
.sf-featured-bot {
    margin-top: 2px;
}
}
@media only screen and (max-width: 479px) {
/*.listing_width_eq {
    float: left;
    width: 46%;
 

}*/
}
@media only screen and (max-width: 472px) {
div#listview {
    width: 28%;
}
}
@media only screen and (max-width: 425px) {
/*.listing_width_eq {
    float: left;
    width: 45%;
    max-width: 46%;
    margin-left: 5px;
}*/
}




@media only screen and (max-width: 414px) {
/*.listing_width_eq {
    float: left;
    width: 45%;
    margin-left: 5px;
}*/
/*.app_logo img {
    width: 27%;
}*/
.prduc_img {
    height: 120px;
}
.second_des h3 {
    font-size: 11px;

}
span.rgt_cont {

    font-size: 10px;
}
span.rgt_chk i {

    font-size: 10px;
}
p.f_left {
    font-size: 10px;
}
p.f_right {
    font-size: 10px;
}
.price p {
    font-size: 10px;
}
.price span {
    font-size: 10px;
}
.rating .fa {
    color: #ed1c24;
   
    margin-right: 1px;
}
}
@media only screen and (max-width: 416px) {
div#listview {
    width: 44%;
}
div#listview {
   /* height: 271px !important;*/
}
}
@media only screen and (max-width: 394px) {
.listing_width_eq {
  /*  max-width: 43%;*/
}
}
@media only screen and (max-width: 380px) {
/*.listing_width_eq {
    float: left;
    width: 44%;
    margin-left: 5px;
    height: auto;
}*/
}
@media only screen and (max-width: 380px) {
/*.listing_width_eq {
    float: left;
    width: 43%;
   
    margin-left: 5px;
}*/
}
@media only screen and (max-width: 360px) {
div#listview {
    width: 42%;
}
/*div#listview {
    height: 217px !important;
}*/
}
@media only screen and (max-width: 320px) {
.w3-dropdown-content {
    min-width: 99px;
    margin-top: 9px;
}
div#listview {
    height: 200px !important;
}
div#listview {
    width: 42% !important;
}
}
.bg_color-serach {
    float: left;
    width: 100%;
    background-color: #232f3e;
    padding: 2px;
    margin: 15px;
    border: 1px solid #232f3e;
    line-height: 0px;
    border-radius: 3px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}
.bg_color-serach .col-md-10 {
    float: left;
}
.bg_color-serach .col-md-2 {
    float: left;
}
.col-md-2.foter_2 {
    float: left;
}
.col-md-4.foter_3 {
    float: left;
}

.site-footer a {
    font-size: 14px !important;
}
.bg_color-serach .col-md-9 {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.bg_color-serach .col-md-3 {
    float: left;
}
.rating {
float: left;
width: 100%;
padding-bottom: 22px;
}
span.round.merchnat_btn {
  
    background-color: #fff !important;
    color: #FFA41C !important;
    border: 1px solid;
}

/*.customer_btn {
    background-color: #000 !important;
}*/
li.category-active a {
    color: #FFA41C !important;
}
.bg_color-serach .col-md-3 {
    float: left;
    padding-left: 0px;
}
.col-md-3.mb_list_view {
    padding-right: 0px;
}
li.list_view {
    padding-right: 1px !important;
}
.category_sect.desktop-view_homepage_cat_sect input {
    float: left;
    width: 100%;
    /* position: absolute; */
    /* left: 54px; */
    /* margin-top: -34px; */
    padding-top: -12px;
    margin-bottom: -33px;
    opacity: 0;
    cursor: pointer;
}
.category_sect.desktop-view_homepage_cat_sect span {
    margin-top: -5px;
    /*float: left;*/
}
.list_view_bg_sect {
    float: left;
    width: 100%;
    /* background-color: #f5f5f5; */
}
.second_des a:hover {
    text-decoration: none !important;
    color: #ed1c24 !important;
}
.sf-featured-top .rating {
    padding-bottom: 0px;
}
.star-rating.listing_rating {
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
div#proid-30 .rating {
    margin-bottom: 10px;
}

a#mapview:active {
    color: #ed1c24 !important;
}
a#listview:active {
    color: #ed1c24 !important;
}



