body {font-family:"Times New Roman",serif}
h1 {font:bold 135% Arial,sans-serif; color:#4000A0; text-decoration:none; text-decoration-style: none; text-decoration-line:none; margin-bottom:0.9em}
h2 {font:bold 95% Arial,sans-serif; color:#900000; text-decoration:none; text-decoration-style: none; text-decoration-line:none; margin-top:1.5em; margin-bottom:1em}
dl.param dt {text-decoration:underline; text-decoration:none;}
dl.param dd {margin-top:1em; text-decoration:none; margin-bottom:1em}
dl.param ul {margin-top:1em; text-decoration:none; margin-bottom:1em}
tt, code, kbd {font-family:"Courier New",Courier,monospace; text-decoration:none; font-size:82%}
div.source {margin-top:1.4em; text-decoration:none; margin-bottom:1.3em}
div.source pre {display:table; text-decoration:none; border:1px solid #24246A; width:100%; margin:0em; font-family:inherit; font-size:100%}
div.source code {display:block; text-decoration:none; border:1px solid #C5C5EC; background-color:#F0F5FF; padding:6px; color:#000000}
div.doc-source {margin-top:1.4em; text-decoration:none; margin-bottom:1.3em}
div.doc-source pre {display:table; text-decoration:none; width:100%; margin:0em; font-family:inherit; font-size:100%}
div.doc-source code {display:block; text-decoration:none; background-color:#E0E0E0; padding:4px}
.kw {color:#000080; text-decoration:none; font-weight:bold}
.str {color:#CC0000; text-decoration:none;}
.cmt {color:#008000; text-decoration:none;}
p.demo {text-align:center;  text-decoration-style: none; text-decoration-line:none; margin-top:-0.9em}
a.demo {text-decoration:none; text-decoration-style: none; text-decoration-line:none;  font-weight:bold; color:#0000CC}
a.demo:link {text-decoration:none; text-decoration-style: none; text-decoration-line:none;  font-weight:bold; color:#0000CC}
a.demo:hover {text-decoration:none; text-decoration-style: none; text-decoration-line:none;  font-weight:bold; color:#0000FF}
a.demo:active {text-decoration:none; text-decoration-style: none; text-decoration-line:none;  font-weight:bold; color:#0000FF}
a:link { text-decoration: none; text-decoration-style: none; text-decoration-line:none; }
a:visited { text-decoration: none; text-decoration-style: none; text-decoration-line:none; }
a:hover { text-decoration: none; text-decoration-style: none; text-decoration-line:none; }
a:active { text-decoration: none; text-decoration-style: none; text-decoration-line:none; }
* {
text-decoration-style: none; text-decoration-line:none;

}