<template>
        <div>
        <div id="map"></div>
    <button @click="reloadMarkers()">click</button>
        </div>
    
</template>
<script>
export default {
    data(){
        return{
            user:{
                lat:"",
                lng:""
            },
            merchants:[],
            miles:1609,
            appUrl:document.head.querySelector('meta[name="app-url"]').content,
            merchantLoaded:false,
            mapData:"",
            markers:[]

        }
    },
    methods: {
        getLatLng(){
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: `https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
                    type: 'POST',
                    data: JSON.stringify({
                        considerIp: true
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: (data) => {
                        if (data && data.location) { 
                            this.user.lat=data.location.lat;
                            this.user.lng=data.location.lng;
                            resolve(data);
                            //this.initMap();
                        } else {
                            reject('No location object in geolocate API response.');
                        }
                    },
                    error: (err) => {
                        reject(err);
                    },
                });
            }); 
        },
        initMap(){
                this.mapData = new google.maps.Map(document.getElementById("map"), {
                    zoom: 13,
                    center: new google.maps.LatLng(this.user.lat,this.user.lng),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                this.setUserLocation();
                this.merchantsOnMap();
        },
        setUserLocation(){
            var marker = new google.maps.Marker({
                map: this.mapData,
                position: new google.maps.LatLng(this.user.lat,this.user.lng),
                title: '',
                icon: 'icon'
            });
            this.setRadius(marker);
        },
        setRadius(marker){
            var circle = new google.maps.Circle({
                    map: this.mapData,
                    fillColor: "#3333336e",
                    strokeColor: '#000',
                    strokeOpacity: 1.0,
                    strokeWeight: 1
                });
            circle.bindTo('center', marker, 'position');
        },
        merchantsOnMap(){
                var infowindow = new google.maps.InfoWindow();
                let vue=this;
                for (var i = 0; i < this.merchants.length; i++) {
                    let merchant = this.merchants[i];
                   
                    var myLatLng = new google.maps.LatLng(merchant.lat,merchant.lng);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: this.mapData,
                        //animation: google.maps.Animation.DROP,
                        icon:vue.appUrl+"public/uploads/map.png"
                         
                    });
                        // Push marker to markers array
                    google.maps.event.addListener(
                        marker,
                        "click",
                        (function(marker, i) {
                            let vr = merchant.avg_rating;
                            let ee = '';
                            if( vr == 1){
                                    ee =    '<span>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '</span>';
                            }else if( vr == 2){
                                    ee =     '<span>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                        '</span>';
                            }else if( vr == 3){
                                    ee =     '<span>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                        '</span>';
                            }else if( vr == 4){
                                    ee =     '<span>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                        '</span>'
                            }else if( vr == 5){
                                    ee =     '<span>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                            '<i class="fa fa-star"></i>'+
                                        '</span>';
                            }else{
                                    ee =   '<span>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                            '<i class="fa fa-star-o"></i>'+
                                        '</span>';
                            }


                            let merchant_url = vue.appUrl+'/'+merchant.username+'/merchant';  
                            let merchant_name = merchant.fullname;   
                            let merchant_profileURL =merchant.profileURL;    
                            let merchant_business_name = merchant.business_name;

                            let view_store =  vue.appUrl+'/'+merchant.username+'/services';  

                            //${vue.appUrl+merchant.username}/services

                            
                            return function() {
                                //let img_url =  vue.appUrl+"/public/uploads/vendor/profile/"+merchant.profile_img1;
                                infowindow.setContent(
                                '<div style="text-align:center;" class="mrchnt_dtl">'+
                                    '<img align="center" height="100" width="100" src="'+merchant_profileURL+'" ></img>'+
                                    '<h3 align="center" class="mt-3">'+
                                    '<a href="'+merchant_url+'">'+merchant_name+'</a>'+
                                    '</h3>'+
                                    '<p>'+merchant_business_name+'</p>'+
                                    '<div>'+ee+
                                    '</div>'+
                                    '<a href="'+view_store+'" class="text-dark">View Store</a>'+
                                    '</div>'
                                    );
                                infowindow.open(this.mapData, marker);
                            };
                        })(marker, i)
                    );

                    this.markers.push(marker);
                }
        },
        reloadMarkers() {
                for (var i=0; i<this.markers.length; i++) {      
                    this.markers[i].setMap(null);
                }
                this.markers = [];
                this.getMerchants().then(response => {
                    this.merchantsOnMap();
                })
        },
        
            getMerchants(){
                return new Promise((resolve,reject) =>{
                     axios.post("/nearby-merchants.json",{
                    lat:this.user.lat,
                    lng:this.user.lng,
                    radius:5
                }).then(response => {
                    //console.log(response);
                    this.merchants=response.data;
                    //console.log("merchant",response.data)
                    this.merchantLoaded=true;
                    resolve(response.data);
                }).catch(error=> {
                    reject("something went wrong!");
                    console.log(error);
                });
                })
            }
    },
    
    mounted() {
       // console.log("Component mounted.");

        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition( (success) => {
              //  console.log("html",success)
                this.user.lat=success.coords.latitude;
                this.user.lng=success.coords.longitude;
                this.getMerchants().then(response =>{
                    this.initMap();
                }); 
            }, (fail) => {
                console.log("fail",fail);
                this.getLatLng().then(response => {
                    console.log("google",response)
                    this.getMerchants().then(response =>{
                        this.initMap();
                    });

                });
            });
        }
        else
        {
           this.getLatLng().then(response => {
               // console.log("google",response)
               // google.maps.event.addDomListener(window, "load", this.initMap);
                this.getMerchants().then(response =>{
                    this.initMap();
                });

            });
        }
        let vue =this;
            //setInterval(function() {
                if(vue.merchantLoaded){
                    vue.reloadMarkers();
                    //console.log("updated")
                }
            //}, 15000); 
    },
  
}
</script>
 