<template>
<div class="form-search-wrap mb-3" data-aos="fade-up" data-aos-delay="200">
	<form method="post" @submit.prevent="searchFromAddress"  id="search_form" name="search_form">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-4 mb-xl-0 col-xl-7">
			<vue-google-autocomplete
	            ref="address"
	            id="mapauto"
	            classname="form-control rounded"
	            placeholder="Delivery Address"
	            v-on:placechanged="getAddressData"	            
	            :enable-geolocation="true"
        	>
        	</vue-google-autocomplete>
			</div>

			<div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
				<input v-model="merchant" placeholder="search by merchant">
			</div>

			<!-- <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
				<div class="wrap-icon">
					<i class="fa fa-crosshairs"></i>
					<input @click.prevent="getLatLng" type="button" id="getLocation" value="Get My Location" class="btn rounded" placeholder="Detect my location">
				</div>
			</div> -->
			<div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
				<div class="select-wrap">
					<span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
					<select    v-model="category" class="form-control rounded" name="" id="">
						<option value="">Choose Category</option>
						<optgroup v-for="category in categories" :label="category.category" :key="category.id">
							<option v-for="subcategory in category.subcategory" :value="subcategory.id" :key="subcategory.id">{{ subcategory.sub_category }}</option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="col-lg-12 col-xl-2 ml-auto text-right">
				<input  type="submit" id="search_home" class="btn btn-primary btn-block rounded" value="Search Now">
			</div>
			
		</div>
	</form>
</div>
</template>
<script>
	import VueGoogleAutocomplete from 'vue-google-autocomplete'
	export default{
		components:{
			"vue-google-autocomplete" : VueGoogleAutocomplete
		},
		props:["appcategories"],
		data(){
			return {
				lat:"",
				lng:"",
				categories:[],
				category:"",
				address: ''
			}
		},
		mounted() {
            // To demonstrate functionality of exposed component functions
            // Here we make focus on the user input
            this.$refs.address.focus();
        },
		methods:{
			 getAddressData (addressData, placeResultData, id) {
                this.address = placeResultData.formatted_address;
            },
			getLatLng(){
				return new Promise((resolve, reject) => {
		            $.ajax({
		                url: `https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
		                type: 'POST',
		                data: JSON.stringify({
		                    considerIp: true
		                }),
		                contentType: 'application/json; charset=utf-8',
		                dataType: 'json',
		                success: (data) => {
		                    if (data && data.location) {
		                    	console.log(data);
		                    	this.lat=data.location.lat;
		                    	this.lng=data.location.lng;
		                    	this.getaddress();
		                    } else {
		                        reject('No location object in geolocate API response.');
		                    }
		                    //console.log(data);
		                },
		                error: (err) => {
		                    reject(err);
		                },
		            });
        		}); 
			},
			getaddress(lat, lng) {
        		return new Promise((resolve, reject) => {
           		$.ajax({
                	url: `https://maps.googleapis.com/maps/api/geocode/json?latlng=${this.lat},${this.lng}&key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
                	type: 'GET',
                	data: JSON.stringify({
                    	considerIp: true
                	}),
                	dataType: 'json',
                	success: (data) => {
                    	$("#mapauto").val(data.results[0].formatted_address);
                    	 this.address=data.results[0].formatted_address;
                    	//console.log('reverse geocode:', data.results[0].address_components);
                    	data.results.some((address) => {
                        	address.address_components.some((component) => {
                            	if (component.types.includes('country')) {
                                	return resolve(component.short_name);
                            	}
                        	});
                    	});
                    	reject('Country not found in location information.');
                	},
                	error: (err) => {
                    	reject(err);
                	},
            	});
        		});
    		},
    		searchFromAddress(){
    			let address;

    			if (this.address=="") {
    				if ($("#mapauto").val()!="") {
    					address=$("#mapauto").val();
    				}
    				else{
    					alert("Please Enter a Location!");
    					return;
    				}
    			}else{
    				address=this.address;
    			} 

				$.ajax({
                	url: `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
                	type: 'GET',
                	dataType: 'json',
                	success: (data) => {
                    	//console.log(data.results[0].geometry.location);
                    	this.lat=data.results[0].geometry.location.lat;
                    	this.lng=data.results[0].geometry.location.lng;
                    	window.location=document.head.querySelector('meta[name="app-url"]').content+"near-by?lat="+this.lat+"&lng="+this.lng+"&category="+this.category+"&address="+address+"&type=init";
                	},
                	error: (err) => {
                    	reject(err);
                	},
            	});
    		},

			findLatLonFromIP() {
				console.log(this.address);
				console.log(this.category);
        		return new Promise((resolve, reject) => {
		            $.ajax({
		                url: `https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyB-pjqPgNOISQDRg5Vo7DxkdFwV6D_EKHY`,
		                type: 'POST',
		                data: JSON.stringify({
		                    considerIp: true
		                }),
		                contentType: 'application/json; charset=utf-8',
		                dataType: 'json',
		                success: (data) => {
		                    if (data && data.location) {
		                    	axios.post("/get-vendor",{
		                    		lat:data.location.lat,
		                    		lng:data.location.lng,
									subcate:this.category,
								 
    							}).then(response => {
    								console.log(response);
    							}).catch(error => {
    								console.log(error);
    							})
		                    } else {
		                        reject('No location object in geolocate API response.');
		                    }
		                    //console.log(data);
		                },
		                error: (err) => {
		                    reject(err);
		                },
		            });
        		});
    		},
    		 
		},
		created(){
			this.categories=JSON.parse(this.appcategories)
		}
	}
</script>