
<style type="text/css">
body { padding-bottom: 40px; }

/* Custom container */


.container-narrow {
  margin: 150px auto 50px auto;
  max-width: 728px;
}

</style>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="components/imgareaselect/css/imgareaselect-default.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/jquery.awesome-cropper.css">

<div class="container-narrow">
  <div>

    <form role="form">
      <input id="sample_input" type="hidden" name="test[image]">
    </form>

    <!--<form role="form">
      <input id="sample_input1" type="hidden" name="test[image]">
    </form>

    <form role="form">
      <input id="sample_input2" type="hidden" name="test[image]">
    </form>-->

  </div>

</div>
<!-- /container --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<script src="components/imgareaselect/scripts/jquery.imgareaselect.js"></script> 
<script src="build/jquery.awesome-cropper.js"></script> 

<script>

    $(document).ready(function () {
        $('#sample_input').awesomeCropper(
        { width: 400, height: 400, debug: true }
        );
    });

    /*  $(document).ready(function () {
        $('#sample_input1').awesomeCropper(
        { width: 400, height: 400, debug: true }
        );
    });

        $(document).ready(function () {
        $('#sample_input2').awesomeCropper(
        { width: 400, height: 400, debug: true }
        );
    }); */

</script> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

